body.noscroll {
  overflow-y: hidden;
  position: relative;
}
.dp--wrapper .section--inner {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  padding: 0 calc(var(--gutter, 10px) * 4);
  position: relative;
  transition: all 0.5s cubic-bezier(0.8, 0, 0.5, 0.95);
}
@media screen and (min-width: 64em) {
  .dp--wrapper .section--inner {
    padding: 0 var(--gutter, 15px);
  }
}
@media screen and (min-width: 78.75em) {
  .dp--wrapper .section--inner {
    max-width: 960px;
  }
}
.dp--wrapper p {
  line-height: 2;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  color: #142432;
}
.dp--wrapper p.is--xl {
  font-size: 18px;
  color: #607182;
}
.dp--wrapper p.is--xs {
  padding: 8px 0;
  font-size: 15px;
  line-height: 1.72;
  color: #607182;
}
.dp--wrapper h1,
.dp--wrapper h2,
.dp--wrapper h3,
.dp--wrapper h4,
.dp--wrapper h5,
.dp--wrapper h6,
.dp--wrapper .h1,
.dp--wrapper .h2,
.dp--wrapper .h3,
.dp--wrapper .h4,
.dp--wrapper .h5,
.dp--wrapper .h6 {
  color: #142432;
  margin-top: 0;
  margin-bottom: .75em;
  max-width: none;
}
.dp--wrapper h1 + p,
.dp--wrapper h2 + p,
.dp--wrapper h3 + p,
.dp--wrapper h4 + p,
.dp--wrapper h5 + p,
.dp--wrapper h6 + p,
.dp--wrapper .h1 + p,
.dp--wrapper .h2 + p,
.dp--wrapper .h3 + p,
.dp--wrapper .h4 + p,
.dp--wrapper .h5 + p,
.dp--wrapper .h6 + p {
  font-size: 17px;
  color: #607182;
}
.dp--wrapper h2,
.dp--wrapper .h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: .5em;
}
.dp--wrapper h3,
.dp--wrapper .h3 {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 500;
}
.dp--wrapper h4,
.dp--wrapper .h4 {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 500;
}
.dp--wrapper h5,
.dp--wrapper .h5 {
  font-size: 19px;
  line-height: 1.2;
  font-weight: 500;
}
.dp--wrapper h6,
.dp--wrapper .h6 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}
.dp--wrapper .listing--content ul {
  margin: 8px 20px;
}
.dp--wrapper .listing--content ul li {
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative;
  list-style: none;
}
.dp--wrapper .listing--content ul li:before {
  font-family: 'shopware_website';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: -18px;
  width: 5px;
  height: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(96, 113, 130, 0.5);
}
.dp--wrapper .listing--content b,
.dp--wrapper .listing--content strong {
  font-size: 16px;
  color: #607182;
}
.dp--wrapper .listing--content p {
  padding: 4px 0;
}
.dp--wrapper .listing--content.no--list ul {
  margin-left: 0;
}
.dp--wrapper .listing--content.no--list ul li:before {
  display: none;
}
@media (max-width: 29.9375em) {
  section.dp--wrapper p.is--xl {
    font-size: 15px;
  }
  section.dp--wrapper p.is--xs {
    font-size: 14px;
  }
  section.dp--wrapper h2,
  section.dp--wrapper .h2 {
    font-size: 20px;
    margin-bottom: 0;
  }
  section.dp--wrapper h2 + p,
  section.dp--wrapper .h2 + p {
    font-size: 15px;
  }
  section.dp--wrapper h3,
  section.dp--wrapper .h3 {
    font-size: 22px;
  }
  section.dp--wrapper h4,
  section.dp--wrapper .h4 {
    font-size: 17px;
    margin-bottom: .25em;
  }
}
:root {
  --gutter: 5px;
  --gutter-padding: 20px;
  --gutter-inner: calc(100% - 10px);
  --gutter-outer: calc(100% + 10px);
}
.col-center {
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: both;
  overflow: auto;
}
.col-center-v {
  position: relative;
}
.col-center-v > .col-inner {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: calc(100% - 30px);
  width: var(--gutter-inner);
}
.col-full-height > .col-inner {
  height: calc(100% - 30px);
  height: var(--gutter-inner);
}
.new .clearfix,
.dp--wrapper .clearfix {
  clear: both;
  float: left;
}
.new .hidden,
.dp--wrapper .hidden {
  display: none;
}
.new .visible-s,
.dp--wrapper .visible-s {
  display: none !important;
}
.new .visible-xs,
.dp--wrapper .visible-xs {
  display: none !important;
}
.new .row,
.dp--wrapper .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: none;
}
.new .row.is--extended,
.dp--wrapper .row.is--extended {
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
  width: var(--gutter-outer);
}
.new [class*="col-"],
.dp--wrapper [class*="col-"] {
  width: 100%;
  transition: padding 0.5s cubic-bezier(0.8, 0, 0.5, 0.95);
}
.new [class*="col-"][class*="--border"],
.dp--wrapper [class*="col-"][class*="--border"] {
  --gutter: 10px;
  padding: 10px;
  padding: var(--gutter);
}
.new [class*="col-"][class*="--border"]:not(.col),
.dp--wrapper [class*="col-"][class*="--border"]:not(.col) {
  padding-left: 0;
  padding-right: 0;
}
.new [class*="col-"][class*="--border"] > .col-inner hr,
.dp--wrapper [class*="col-"][class*="--border"] > .col-inner hr {
  margin-left: calc(var(--gutter-padding) * -1);
  margin-right: calc(var(--gutter-padding) * -1);
}
.new [class*="col-"][class*="--border"] > .col-inner > p:first-child,
.dp--wrapper [class*="col-"][class*="--border"] > .col-inner > p:first-child {
  padding-top: 0;
}
.new [class*="col-"][class*="--border"] > .col-inner > p:last-child,
.dp--wrapper [class*="col-"][class*="--border"] > .col-inner > p:last-child {
  padding-bottom: 0;
}
.new [class*="col-"] .col-inner,
.dp--wrapper [class*="col-"] .col-inner {
  padding: 20px;
  padding: var(--gutter-padding);
}
.new [class*="col-"] .col-inner hr,
.dp--wrapper [class*="col-"] .col-inner hr {
  margin: 1.25rem 0;
}
.new [class*="--border"] > .col-inner,
.dp--wrapper [class*="--border"] > .col-inner {
  border: 1px solid #eaeef1;
}
.new .has--border-dashed > .col-inner,
.dp--wrapper .has--border-dashed > .col-inner,
.new .has--border-dashed > .col-inner hr,
.dp--wrapper .has--border-dashed > .col-inner hr {
  border-style: dashed;
}
.new .has--border-gray > .col-inner,
.dp--wrapper .has--border-gray > .col-inner {
  background-color: rgba(244, 247, 250, 0.4);
}
.new .has--border-blue > .col-inner,
.dp--wrapper .has--border-blue > .col-inner {
  background-color: rgba(24, 158, 255, 0.05);
}
.new .has--border-blue > .col-inner,
.dp--wrapper .has--border-blue > .col-inner,
.new .has--border-blue > .col-inner hr,
.dp--wrapper .has--border-blue > .col-inner hr {
  border-color: #189eff;
}
.new .has--border-success > .col-inner,
.dp--wrapper .has--border-success > .col-inner {
  background-color: #e8f5e9;
}
.new .has--border-success > .col-inner,
.dp--wrapper .has--border-success > .col-inner,
.new .has--border-success > .col-inner hr,
.dp--wrapper .has--border-success > .col-inner hr {
  border-color: #37d046;
}
.new .has--border--xs p,
.dp--wrapper .has--border--xs p {
  font-size: 14px;
}
.new .has--border--xs > .col-inner,
.dp--wrapper .has--border--xs > .col-inner {
  padding: 20px 20px 10px 20px;
}
.new .has--border--xs > .col-inner hr,
.dp--wrapper .has--border--xs > .col-inner hr {
  margin: 0.75rem -20px;
}
.new .col--icon,
.dp--wrapper .col--icon {
  float: none;
}
.new .col--icon .icon--image img,
.dp--wrapper .col--icon .icon--image img {
  min-width: 0;
  max-width: none;
  width: 38px;
}
.new .col,
.dp--wrapper .col {
  padding: 15px;
  padding: var(--gutter);
}
.new .col-1,
.dp--wrapper .col-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}
.new .col-2,
.dp--wrapper .col-2 {
  flex: 0 0 16.66666667%;
  max-width: 16.66666667%;
}
.new .col-3,
.dp--wrapper .col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.new .col-4,
.dp--wrapper .col-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
.new .col-5,
.dp--wrapper .col-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}
.new .col-6,
.dp--wrapper .col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.new .col-7,
.dp--wrapper .col-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}
.new .col-8,
.dp--wrapper .col-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}
.new .col-9,
.dp--wrapper .col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.new .col-10,
.dp--wrapper .col-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}
.new .col-11,
.dp--wrapper .col-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}
.new .col-12,
.dp--wrapper .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media screen and (max-width: 29.9375em) {
  .new .hidden-xs,
  .dp--wrapper .hidden-xs {
    display: none;
  }
  .new .visible-xs,
  .dp--wrapper .visible-xs {
    display: block !important;
  }
}
@media screen and (min-width: 30em) {
  :root {
    --gutter: 10px;
    --gutter-inner: calc(100% - 20px);
    --gutter-outer: calc(100% + 20px);
  }
  .new .col-xs-center,
  .dp--wrapper .col-xs-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    overflow: auto;
  }
  .new .col-xs-center-v,
  .dp--wrapper .col-xs-center-v {
    position: relative;
  }
  .new .col-xs-center-v > .col-inner,
  .dp--wrapper .col-xs-center-v > .col-inner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 30px);
    width: var(--gutter-inner);
  }
  .new .col-xs-full-height > .col-inner,
  .dp--wrapper .col-xs-full-height > .col-inner {
    height: calc(100% - 30px);
    height: var(--gutter-inner);
  }
  .new .col-xs-1,
  .dp--wrapper .col-xs-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .new .col-xs-2,
  .dp--wrapper .col-xs-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .new .col-xs-3,
  .dp--wrapper .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .new .col-xs-4,
  .dp--wrapper .col-xs-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .new .col-xs-5,
  .dp--wrapper .col-xs-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .new .col-xs-6,
  .dp--wrapper .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .new .col-xs-7,
  .dp--wrapper .col-xs-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .new .col-xs-8,
  .dp--wrapper .col-xs-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .new .col-xs-9,
  .dp--wrapper .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .new .col-xs-10,
  .dp--wrapper .col-xs-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .new .col-xs-11,
  .dp--wrapper .col-xs-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .new .col-xs-12,
  .dp--wrapper .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 47.9375em) {
  .new .hidden-s,
  .dp--wrapper .hidden-s {
    display: none;
  }
  .new .visible-s,
  .dp--wrapper .visible-s {
    display: block !important;
  }
}
@media screen and (min-width: 48em) {
  .new .col-s-center,
  .dp--wrapper .col-s-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    overflow: auto;
  }
  .new .col-s-center-v,
  .dp--wrapper .col-s-center-v {
    position: relative;
  }
  .new .col-s-center-v > .col-inner,
  .dp--wrapper .col-s-center-v > .col-inner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 30px);
    width: var(--gutter-inner);
  }
  .new .col-s-full-height > .col-inner,
  .dp--wrapper .col-s-full-height > .col-inner {
    height: calc(100% - 30px);
    height: var(--gutter-inner);
  }
  .new .col-s-1,
  .dp--wrapper .col-s-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .new .col-s-2,
  .dp--wrapper .col-s-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .new .col-s-3,
  .dp--wrapper .col-s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .new .col-s-4,
  .dp--wrapper .col-s-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .new .col-s-5,
  .dp--wrapper .col-s-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .new .col-s-6,
  .dp--wrapper .col-s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .new .col-s-7,
  .dp--wrapper .col-s-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .new .col-s-8,
  .dp--wrapper .col-s-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .new .col-s-9,
  .dp--wrapper .col-s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .new .col-s-10,
  .dp--wrapper .col-s-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .new .col-s-11,
  .dp--wrapper .col-s-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .new .col-s-12,
  .dp--wrapper .col-s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 59.9375em) {
  .new .hidden-m,
  .dp--wrapper .hidden-m {
    display: none;
  }
}
@media screen and (min-width: 60em) {
  .new .col-m-center,
  .dp--wrapper .col-m-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    overflow: auto;
  }
  .new .col-m-center-v,
  .dp--wrapper .col-m-center-v {
    position: relative;
  }
  .new .col-m-center-v > .col-inner,
  .dp--wrapper .col-m-center-v > .col-inner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 30px);
    width: var(--gutter-inner);
  }
  .new .col-m-full-height > .col-inner,
  .dp--wrapper .col-m-full-height > .col-inner {
    height: calc(100% - 30px);
    height: var(--gutter-inner);
  }
  .new .col-m-1,
  .dp--wrapper .col-m-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .new .col-m-2,
  .dp--wrapper .col-m-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .new .col-m-3,
  .dp--wrapper .col-m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .new .col-m-4,
  .dp--wrapper .col-m-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .new .col-m-5,
  .dp--wrapper .col-m-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .new .col-m-6,
  .dp--wrapper .col-m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .new .col-m-7,
  .dp--wrapper .col-m-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .new .col-m-8,
  .dp--wrapper .col-m-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .new .col-m-9,
  .dp--wrapper .col-m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .new .col-m-10,
  .dp--wrapper .col-m-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .new .col-m-11,
  .dp--wrapper .col-m-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .new .col-m-12,
  .dp--wrapper .col-m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .new [class*="col-"][class*="--border"],
  .dp--wrapper [class*="col-"][class*="--border"] {
    --gutter: 15px;
    --gutter-padding: 30px;
    --gutter-inner: calc(100% - 30px);
  }
  .new [class*="col-"][class*="--border"] > .col-inner,
  .dp--wrapper [class*="col-"][class*="--border"] > .col-inner {
    padding: var(--gutter-padding);
  }
  .new .has--border--xs > .col-inner,
  .dp--wrapper .has--border--xs > .col-inner {
    padding-left: 25px;
    padding-right: 25px;
  }
  .new .has--border--xs > .col-inner hr,
  .dp--wrapper .has--border--xs > .col-inner hr {
    margin: 1.25rem -25px;
  }
}
@media screen and (max-width: 63.9375em) {
  .new .hidden-l,
  .dp--wrapper .hidden-l {
    display: none;
  }
}
@media screen and (min-width: 64em) {
  .new .col-l-center,
  .dp--wrapper .col-l-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    overflow: auto;
  }
  .new .col-l-center-v,
  .dp--wrapper .col-l-center-v {
    position: relative;
  }
  .new .col-l-center-v > .col-inner,
  .dp--wrapper .col-l-center-v > .col-inner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 30px);
    width: var(--gutter-inner);
  }
  .new .col-l-full-height > .col-inner,
  .dp--wrapper .col-l-full-height > .col-inner {
    height: calc(100% - 30px);
    height: var(--gutter-inner);
  }
  .new .col-l-1,
  .dp--wrapper .col-l-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .new .col-l-2,
  .dp--wrapper .col-l-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .new .col-l-3,
  .dp--wrapper .col-l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .new .col-l-4,
  .dp--wrapper .col-l-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .new .col-l-5,
  .dp--wrapper .col-l-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .new .col-l-6,
  .dp--wrapper .col-l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .new .col-l-7,
  .dp--wrapper .col-l-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .new .col-l-8,
  .dp--wrapper .col-l-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .new .col-l-9,
  .dp--wrapper .col-l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .new .col-l-10,
  .dp--wrapper .col-l-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .new .col-l-11,
  .dp--wrapper .col-l-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .new .col-l-12,
  .dp--wrapper .col-l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 78.6875em) {
  .new .hidden-xl,
  .dp--wrapper .hidden-xl {
    display: none;
  }
}
@media screen and (min-width: 78.75em) {
  :root {
    --gutter: 15px;
    --gutter-inner: calc(100% - 30px);
    --gutter-outer: calc(100% + 30px);
  }
  .new .col-xl-center,
  .dp--wrapper .col-xl-center {
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
    overflow: auto;
  }
  .new .col-xl-center-v,
  .dp--wrapper .col-xl-center-v {
    position: relative;
  }
  .new .col-xl-center-v > .col-inner,
  .dp--wrapper .col-xl-center-v > .col-inner {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: calc(100% - 30px);
    width: var(--gutter-inner);
  }
  .new .col-xl-full-height > .col-inner,
  .dp--wrapper .col-xl-full-height > .col-inner {
    height: calc(100% - 30px);
    height: var(--gutter-inner);
  }
  .new .col-xl-1,
  .dp--wrapper .col-xl-1 {
    flex: 0 0 8.33333333%;
    max-width: 8.33333333%;
  }
  .new .col-xl-2,
  .dp--wrapper .col-xl-2 {
    flex: 0 0 16.66666667%;
    max-width: 16.66666667%;
  }
  .new .col-xl-3,
  .dp--wrapper .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .new .col-xl-4,
  .dp--wrapper .col-xl-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
  .new .col-xl-5,
  .dp--wrapper .col-xl-5 {
    flex: 0 0 41.66666667%;
    max-width: 41.66666667%;
  }
  .new .col-xl-6,
  .dp--wrapper .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .new .col-xl-7,
  .dp--wrapper .col-xl-7 {
    flex: 0 0 58.33333333%;
    max-width: 58.33333333%;
  }
  .new .col-xl-8,
  .dp--wrapper .col-xl-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
  .new .col-xl-9,
  .dp--wrapper .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .new .col-xl-10,
  .dp--wrapper .col-xl-10 {
    flex: 0 0 83.33333333%;
    max-width: 83.33333333%;
  }
  .new .col-xl-11,
  .dp--wrapper .col-xl-11 {
    flex: 0 0 91.66666667%;
    max-width: 91.66666667%;
  }
  .new .col-xl-12,
  .dp--wrapper .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.dp--wrapper .btn {
  border: 2px solid transparent;
  padding: .6875rem 1.3rem .6875rem 1.3rem;
  -webkit-border-radius: 0.01px;
  -moz-border-radius: 0.01px;
  border-radius: 0.01px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
.dp--wrapper .btn:hover {
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.dp--wrapper .btn:active {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.dp--wrapper .btn.is--primary {
  border-color: #189eff;
}
.dp--wrapper .btn.is--primary:hover {
  border-color: #007eda;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(24, 158, 255, 0.33);
}
.dp--wrapper .btn.is--primary:active {
  border-color: #006fc1;
  box-shadow: 0 0.5rem 1rem -0.25rem transparent;
}
.dp--wrapper .btn.is--secondary {
  border-color: #607182;
  background-color: #607182;
  border-width: 0;
}
.dp--wrapper .btn.is--secondary:hover {
  border-color: #395467;
  background-color: #395467;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(57, 84, 103, 0.33);
}
.dp--wrapper .btn.is--secondary:active {
  border-color: #304757;
  background-color: #304757;
  box-shadow: 0 0.5rem 1rem -0.25rem transparent;
}
.dp--wrapper .btn.is--gray {
  color: #607182;
  border-color: #eaeef1;
  background-color: #eaeef1;
}
.dp--wrapper .btn.is--gray:hover {
  border-color: #dbe2e7;
  background-color: #dbe2e7;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(234, 238, 241, 0.33);
}
.dp--wrapper .btn.is--gray:active {
  border-color: #cbd5dd;
  background-color: #cbd5dd;
  box-shadow: 0 0.5rem 1rem -0.25rem transparent;
}
.dp--wrapper .btn.is--mixin {
  border-color: #dbd9ee;
  background-color: #4836a3;
}
.dp--wrapper .btn.is--mixin:hover {
  border-color: #cac7e6;
  background-color: #403090;
  box-shadow: 0 0.5rem 1rem -0.25rem rgba(72, 54, 163, 0.33);
}
.dp--wrapper .btn.is--mixin:active {
  border-color: #bab6de;
  background-color: #37297d;
  box-shadow: 0 0.5rem 1rem -0.25rem transparent;
}
.dp--wrapper .btn.on--dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}
.dp--wrapper .btn.on--dark:hover {
  transform: translateY(0);
  background-color: rgba(255, 255, 255, 0.1);
}
.dp--wrapper .btn.on--dark:active {
  background-color: rgba(255, 255, 255, 0.15);
}
.dp--wrapper .btn.on--dark:not(.is--border) {
  border-width: 0;
}
.dp--wrapper .btn.is--border {
  border: 2px solid;
  background: none !important;
  overflow: hidden;
  z-index: 1;
  color: #395467;
  border-color: #eaeef1;
}
.dp--wrapper .btn.is--border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 100% 0;
  left: 0;
  z-index: -1;
  transition: transform 0.25s cubic-bezier(0.25, 0.2, 0.45, 1), background 0.25s cubic-bezier(0.25, 0.2, 0.45, 1);
  top: 0;
}
.dp--wrapper .btn.is--border:hover,
.dp--wrapper .btn.is--border.is--active {
  transform: none;
  box-shadow: 0 0 0 transparent;
  background-color: transparent;
}
.dp--wrapper .btn.is--border:hover:before,
.dp--wrapper .btn.is--border.is--active:before {
  transform: scaleX(1);
  transform-origin: 0 0;
}
.dp--wrapper .btn.is--border:active {
  transform: none;
  box-shadow: 0 0 0 transparent;
}
.dp--wrapper .btn.is--border:before {
  background-color: #eaeef1;
}
.dp--wrapper .btn.is--border:hover,
.dp--wrapper .btn.is--border.is--active {
  color: #395467;
}
.dp--wrapper .btn.is--border:active {
  border-color: #dbe2e7;
}
.dp--wrapper .btn.is--border:active:before {
  background-color: #dbe2e7;
}
.dp--wrapper .btn.is--border.is--primary {
  color: #189eff;
  border-color: #189eff;
}
.dp--wrapper .btn.is--border.is--primary:before {
  background-color: #189eff;
}
.dp--wrapper .btn.is--border.is--primary:hover,
.dp--wrapper .btn.is--border.is--primary.is--active {
  color: #fff;
}
.dp--wrapper .btn.is--border.is--primary:active {
  border-color: #007eda;
}
.dp--wrapper .btn.is--border.is--primary:active:before {
  background-color: #007eda;
}
.dp--wrapper .btn.is--border.is--secondary {
  color: #607182;
  border-color: #607182;
}
.dp--wrapper .btn.is--border.is--secondary:before {
  background-color: #607182;
}
.dp--wrapper .btn.is--border.is--secondary:hover,
.dp--wrapper .btn.is--border.is--secondary.is--active {
  color: #fff;
}
.dp--wrapper .btn.is--border.is--secondary:active {
  border-color: #395467;
}
.dp--wrapper .btn.is--border.is--secondary:active:before {
  background-color: #395467;
}
.dp--wrapper .btn.is--border.on--dark {
  color: #fff;
  border-color: #fff;
}
.dp--wrapper .btn.is--border.on--dark:before {
  background-color: #fff;
}
.dp--wrapper .btn.is--border.on--dark:hover,
.dp--wrapper .btn.is--border.on--dark.is--active {
  color: #142432;
}
.dp--wrapper .btn.is--border.on--dark:active {
  border-color: rgba(255, 255, 255, 0.8);
}
.dp--wrapper .btn.is--border.on--dark:active:before {
  background-color: rgba(255, 255, 255, 0.8);
}
.dp--wrapper .btn.is--xl {
  font-size: 18px;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.dp--wrapper .btn.is--s {
  font-size: 14px;
  padding: .5625rem 1rem .5625rem 1rem;
}
.dp--wrapper .btn.is--xs {
  font-size: 14px;
  padding: .3125rem .75rem .3125rem .75rem;
}
.dp--wrapper .btn.rounded-1 {
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dp--wrapper .btn.rounded-2 {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.dp--wrapper .btn.rounded-3 {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
.dp--wrapper .btn.is--block {
  display: block;
  width: 100%;
}
.dp--wrapper .btn.is--block.is--border {
  transition: all 0.4s cubic-bezier(0.25, 0.2, 0.45, 1);
}
.dp--wrapper .btn.is--block.is--border:before {
  transition: transform 0.4s cubic-bezier(0.25, 0.2, 0.45, 1), background 0.4s cubic-bezier(0.25, 0.2, 0.45, 1);
}
.dp--wrapper .btn.no--float:hover {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 0 0 transparent;
  -moz-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
}
.animate {
  transition: opacity 0.3s cubic-bezier(0.25, 0.2, 0.45, 1), transform 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
  will-change: opacity, transform;
}
.animate.animate--soon {
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.animate.fill-up {
  width: 100%;
}
.animate.fill-up .filled {
  -moz-transition: width 0.8s cubic-bezier(0.66, 0.2, 0.6, 0.95);
  -ms-transition: width 0.8s cubic-bezier(0.66, 0.2, 0.6, 0.95);
  -o-transition: width 0.8s cubic-bezier(0.66, 0.2, 0.6, 0.95);
  -webkit-transition: width 0.8s cubic-bezier(0.66, 0.2, 0.6, 0.95);
  transition: width 0.8s cubic-bezier(0.66, 0.2, 0.6, 0.95);
  will-change: width;
}
.animate.fill-up.animate--soon {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.animate.fill-up.animate--soon .filled {
  width: 0 !important;
}
.animate.animate--bounce {
  transition: opacity 0.5s cubic-bezier(0.7, -0.55, 0.265, 1.55), transform 0.5s cubic-bezier(0.7, -0.55, 0.265, 1.55);
  will-change: opacity, transform;
}
.animate.animate--blur {
  transition: opacity 1s cubic-bezier(0.25, 0.2, 0.45, 1), transform 1s cubic-bezier(0.25, 0.2, 0.45, 1), filter 1s cubic-bezier(0.25, 0.2, 0.45, 1);
  will-change: opacity, transform, filter;
}
.animate.animate--blur.animate--soon {
  transform: perspective(500px) translate3d(0, 0, 40px);
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
.animate.fill-up {
  position: relative;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(234, 238, 241, 0.5);
}
.animate.fill-up .filled {
  height: 8px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #189eff;
}
.timing-1 {
  transition-duration: 0.20s !important;
}
.timing-2 {
  transition-duration: 0.40s !important;
}
.timing-3 {
  transition-duration: 0.60s !important;
}
.timing-4 {
  transition-duration: 0.80s !important;
}
.timing-5 {
  transition-duration: 1.00s !important;
}
@media screen and (min-width: 48em) {
  .delay-1 {
    transition-delay: 0.20s !important;
  }
  .delay-2 {
    transition-delay: 0.40s !important;
  }
  .delay-3 {
    transition-delay: 0.60s !important;
  }
  .delay-4 {
    transition-delay: 0.80s !important;
  }
  .delay-5 {
    transition-delay: 1.00s !important;
  }
}
.global--popover {
  width: 100%;
  position: fixed;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  padding: 20px 4vw;
  box-shadow: 0 0 50px rgba(20, 36, 50, 0.1);
}
.global--popover:before {
  display: none;
}
.popover--holder {
  position: relative;
  display: inline-block;
}
.popover--holder .popover {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: 100%;
  min-width: 350px;
  display: inline-block;
  padding: 14px 20px;
  box-shadow: 0 1px 10px rgba(20, 36, 50, 0.1);
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .25px;
  border-radius: 4px;
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.7, -0.55, 0.265, 1.55);
}
.popover--holder .popover:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #fff;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}
.popover--holder .popover.is--right {
  left: 100%;
  transform: translate(0, -50%) scale(0.8);
  transform-origin: left;
}
.popover--holder .popover.is--right:before {
  top: 50%;
  left: 0;
  box-shadow: 1px -1px 2px 1px #fff, 0 2px 3px rgba(20, 36, 50, 0.1);
}
.popover--holder .popover.is--left {
  left: auto;
  right: 100%;
  transform: translate(0, -50%) scale(0.8);
  transform-origin: right;
}
.popover--holder .popover.is--left:before {
  top: 50%;
  left: 100%;
  box-shadow: -1px 1px 2px 1px #fff, 2px 0 3px rgba(20, 36, 50, 0.1);
}
.popover--holder .popover.is--top {
  top: auto;
  bottom: 100%;
  transform: translate(-50%, 0) scale(0.8);
  transform-origin: bottom;
}
.popover--holder .popover.is--top:before {
  top: 100%;
  left: 50%;
  box-shadow: -1px -1px 2px 1px #fff, 1px 1px 3px rgba(20, 36, 50, 0.1);
}
.popover--holder .popover.is--bottom {
  top: 100%;
  transform: translate(-50%, 0) scale(0.8);
  transform-origin: top;
}
.popover--holder .popover.is--bottom:before {
  top: 0;
  left: 50%;
  box-shadow: 1px 1px 2px 1px #fff, -1px -1px 3px rgba(20, 36, 50, 0.1);
}
.popover--holder .popover.is--zoom {
  border: 1px solid rgba(20, 36, 50, 0.2);
  box-shadow: 0 1px 30px rgba(20, 36, 50, 0.2);
  box-sizing: content-box;
  min-width: 200px;
  height: 200px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  transform-origin: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.popover--holder .popover.is--zoom img {
  display: inline-block;
  max-height: 200px;
}
.popover--holder .popover.is--zoom:before {
  display: none;
}
.popover--holder.is--active .popover {
  pointer-events: all;
  opacity: 1;
}
.popover--holder.is--active .popover.is--right {
  transform: translate(30px, -50%) scale(1);
}
.popover--holder.is--active .popover.is--left {
  transform: translate(-30px, -50%) scale(1);
}
.popover--holder.is--active .popover.is--top {
  transform: translate(-50%, -15px) scale(1);
}
.popover--holder.is--active .popover.is--bottom {
  transform: translate(-50%, 15px) scale(1);
}
.popover--holder.is--active .popover.is--zoom {
  transform: translate(-50%, -50%) scale(1);
}
.popover--holder a {
  cursor: pointer;
}
.popover--holder a.tooltip {
  -webkit-user-select: none;
  user-select: none;
}
.popover--holder a.tooltip:after {
  content: '';
  display: inline-block;
  position: relative;
  top: 1px;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  margin-left: 8px;
  background: url(https://de.shopware.com/media/unknown/99/78/4f/versions-info-icon.svg);
}
.popover--holder a.btn:hover {
  transform: translateY(0);
}
.screen--holder .popover--holder {
  position: absolute;
  z-index: 2;
}
.screen--holder .popover--holder .btn {
  padding: 0;
  border: 0;
  font-size: 24px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #142432;
  background-color: #fff;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 20px rgba(20, 36, 50, 0.2);
  -moz-box-shadow: 0 0 20px rgba(20, 36, 50, 0.2);
  box-shadow: 0 0 20px rgba(20, 36, 50, 0.2);
}
.screen--holder .popover--holder .btn:after {
  content: "";
  width: 36px;
  height: 36px;
  -webkit-border-radius: 36px;
  -moz-border-radius: 36px;
  border-radius: 36px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #fff;
  box-sizing: border-box;
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  animation: circleAttention 4s ease-out infinite;
  z-index: 0;
}
.screen--holder .popover--holder .btn:active {
  background-color: #e9f2f8;
  -webkit-box-shadow: 0 0 25px rgba(20, 36, 50, 0.25);
  -moz-box-shadow: 0 0 25px rgba(20, 36, 50, 0.25);
  box-shadow: 0 0 25px rgba(20, 36, 50, 0.25);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.screen--holder .popover--holder .popover.is--zoom + a:before {
  content: "\e604";
  font-family: 'shopware_website';
  color: #142432;
  font-size: 16px;
  position: relative;
  top: -2px;
}
@-webkit-keyframes circleAttention {
  0%,
  33% {
    width: 36px;
    height: 36px;
    border-color: #fff;
  }
  100% {
    width: 56px;
    height: 56px;
    border-color: rgba(255, 255, 255, 0);
  }
}
@-moz-keyframes circleAttention {
  0%,
  33% {
    width: 36px;
    height: 36px;
    border-color: #fff;
  }
  100% {
    width: 56px;
    height: 56px;
    border-color: rgba(255, 255, 255, 0);
  }
}
@-o-keyframes circleAttention {
  0%,
  33% {
    width: 36px;
    height: 36px;
    border-color: #fff;
  }
  100% {
    width: 56px;
    height: 56px;
    border-color: rgba(255, 255, 255, 0);
  }
}
@keyframes circleAttention {
  0%,
  33% {
    width: 36px;
    height: 36px;
    border-color: #fff;
  }
  100% {
    width: 56px;
    height: 56px;
    border-color: rgba(255, 255, 255, 0);
  }
}
@media screen and (max-width: 29.9375em) {
  .popover--holder .popover {
    width: 100% !important;
    position: fixed !important;
    top: auto !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    transform: none !important;
    padding: 20px 4vw !important;
    box-shadow: 0 0 50px rgba(20, 36, 50, 0.1) !important;
  }
  .popover--holder .popover:before {
    display: none !important;
  }
  .popover--holder .popover.is--zoom {
    display: none;
  }
}
.spacer {
  margin-top: 2rem !important;
}
.spacer--large {
  margin-top: 4rem !important;
}
.spacer--small {
  margin-top: 1rem !important;
}
.spacer-bottom {
  margin-bottom: 2rem !important;
}
.spacer-bottom--large {
  margin-bottom: 4rem !important;
}
.spacer-bottom--small {
  margin-bottom: 1rem !important;
}
@media screen and (max-width: 29.9375em) {
  .spacer-xs {
    margin-top: 2rem !important;
  }
  .spacer--large-xs {
    margin-top: 4rem !important;
  }
  .spacer--small-xs {
    margin-top: 1rem !important;
  }
  .spacer-bottom-xs {
    margin-bottom: 2rem !important;
  }
  .spacer-bottom--large-xs {
    margin-bottom: 4rem !important;
  }
  .spacer-bottom--small-xs {
    margin-bottom: 1rem !important;
  }
}
@media screen and (max-width: 47.9375em) and (min-width: 30em) {
  .spacer-s {
    margin-top: 2rem !important;
  }
  .spacer--large-s {
    margin-top: 4rem !important;
  }
  .spacer--small-s {
    margin-top: 1rem !important;
  }
  .spacer-bottom-s {
    margin-bottom: 2rem !important;
  }
  .spacer-bottom--large-s {
    margin-bottom: 4rem !important;
  }
  .spacer-bottom--small-s {
    margin-bottom: 1rem !important;
  }
}
@media screen and (max-width: 59.9375em) and (min-width: 48em) {
  .spacer-m {
    margin-top: 2rem !important;
  }
  .spacer--large-m {
    margin-top: 4rem !important;
  }
  .spacer--small-m {
    margin-top: 1rem !important;
  }
  .spacer-bottom-m {
    margin-bottom: 2rem !important;
  }
  .spacer-bottom--large-m {
    margin-bottom: 4rem !important;
  }
  .spacer-bottom--small-m {
    margin-bottom: 1rem !important;
  }
}
@media screen and (max-width: 63.9375em) and (min-width: 60em) {
  .spacer-l {
    margin-top: 2rem !important;
  }
  .spacer--large-l {
    margin-top: 4rem !important;
  }
  .spacer--small-l {
    margin-top: 1rem !important;
  }
  .spacer-bottom-l {
    margin-bottom: 2rem !important;
  }
  .spacer-bottom--large-l {
    margin-bottom: 4rem !important;
  }
  .spacer-bottom--small-l {
    margin-bottom: 1rem !important;
  }
}
@media screen and (max-width: 78.6875em) and (min-width: 64em) {
  .spacer-xl {
    margin-top: 2rem !important;
  }
  .spacer--large-xl {
    margin-top: 4rem !important;
  }
  .spacer--small-xl {
    margin-top: 1rem !important;
  }
  .spacer-bottom-xl {
    margin-bottom: 2rem !important;
  }
  .spacer-bottom--large-xl {
    margin-bottom: 4rem !important;
  }
  .spacer-bottom--small-xl {
    margin-bottom: 1rem !important;
  }
}
.now-scrolling:not(.animate--soon) {
  -moz-transition: transform 0s linear !important;
  -ms-transition: transform 0s linear !important;
  -o-transition: transform 0s linear !important;
  -webkit-transition: transform 0s linear !important;
  transition: transform 0s linear !important;
}
.mouse-parallax-holder {
  position: relative;
  overflow: hidden;
}
.mouse-parallax-holder .parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.mouse-parallax-holder .parallax > * {
  display: inline-block;
  width: auto;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.mouse-parallax-holder .parallax .btn {
  width: auto !important;
}
