@import "_imports/reset.less";
@import "_imports/anchor.less";
@import "_imports/icons.less";
@import "_imports/icons-sw.less";
@import "_imports/variables.less";
@import "_imports/gradients.less";
@import "_imports/mixins.less";
@import "_imports/forms.less";
@import "_imports/buttons.less";
@import "_imports/alerts.less";
@import "_imports/grid.less";
@import "_imports/font.less";
@import "_imports/typography.less";
@import "_imports/pagination.less";
@import "_imports/codeExpand.less";
@import "_imports/video.less";
@import "_imports/overlay.less";
@import "_imports/icon-search.less";
@import "_imports/landing-page.less";
@import "_imports/labs.less";
@import "_imports/start.less";
@import "_imports/dev-guide.less";
@import "_imports/des-guide.less";

/**
 * — Minor Section Heading —
 */
html, body {
    font: @main-font 'Brandon', Arial, sans-serif;
    color: @text-color;
    font-weight: 300;
    background: #FFF;
}

a {
    &, &:hover, &:active, &:focus {
        text-decoration: none;
        color: @blue02;
    }

    &:hover {
        color: lighten(@blue01, 10%);
    }
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: @blue06;
}

b, strong {
    font-weight: 600;
}

.flag-new {
    color: #FFF;
    background-color:@blue02;
    padding: 0 5px;
    border-radius: 2px;
}

.full-width {
    width: 100% !important;
}

/** Helper classes */
.center, .is-center {
    text-align: center;
}

.is-float-left {
    float: left;
    margin: 10px 40px 20px 0;
}

.is-float-right {
    float:right;
    margin: 10px 0 20px 40px;
}

/* CLEARFIX / FIXFLOAT */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.text-link {
    text-decoration: none;
    color: @blue02;
    cursor: pointer;

    &:hover {
        color: lighten(@blue01, 10%);
    }
}

.pointer {
    cursor: pointer;
}

/* GRID */
.wrapper {
    .clearfix();
    //position: relative;
    height: 100%;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0 auto;
}

.content {
    .clearfix();
    margin-top: 80px;
    background: #fff;
    padding-top: 90px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 20px;
    position: relative;

    @media screen and (min-width: 1200px) {
        max-width: 900px;
        margin-left: 390px;
        margin-top: 0;
        padding-top: 60px;
        padding-left: 0;
        padding-right: 50px;
    }
}

.inner-container {
    padding-bottom: 40px;
    margin: 0 15px;

    @media screen and (min-width: 768px) {
        margin: 0 30px;
    }

    @media screen and (min-width: 1024px) {
        margin: 0 40px;
    }
}

/** {#} Header */
.header--main {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 9900;
    background: @blue06;
    height: 150px;

    @media screen and (min-width: 1200px) {
        width: 350px;
    }

    .logo {
        width: 90px;
        height: auto;
        margin: auto;
        position: absolute;
        top: 13px; left: 0;
        bottom: 0; right: 0;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }

        @media screen and (min-width: 1200px) {
            width: 118px;
            height: 118px;
            top: 53px;
        }
    }
}

.offcanvas--trigger {
    .user-select(none);
    .touch-callout(none);
    .transform(translateY(-50%));
    width: 28px;
    line-height: 28px;
    font-size: 28px;
    display: inline-block;
    position: absolute;
    top: 33%; left: 30px;
    padding: 0;
    margin: 0 0 0 5px;
    color: #26556f;

    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.searchButton {
    right: 0;
}

.navi--content {
    width: 100%;
    height: 100%;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

nav.navi--main:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    height: 20px;
    z-index: 10;
    pointer-events: none;
}

.navi--main {
    padding: 150px 0 0px 0;
    @media screen and (min-width: 768px) {
        padding: 150px 0 80px 0;
    }
    .transform(translateX(-100%));
    .transition(all 0.4s ease-out);
    width: 100%;
    max-width: 350px;
    height: 100%;
    background: @blue06;
    position: fixed;
    top: 0; left: 0;
    z-index: 9800;
    overflow: hidden;
    ::-webkit-scrollbar {
        display: none;
        background: transparent;
    }

    &.is--active {
        .transform(translateX(0));
    }

    @media screen and (min-width: 1200px) {
        .transform(translateX(0));
        .transition(none);
        width: 350px;
        padding-top: 240px;
    }

    ul.navi--tree {

        li.navi--chapter {

            &.is--active {
                padding-bottom: 10px;
            }

            .navi--link {
                display: block;
                padding: 10px 38px;
                color: rgba(255, 255, 255, 0.95);
                font-weight: 500;
                position: relative;
                font-size: 17px;
                z-index: 10;
                border-left: 3px solid rgba(255, 255, 255, 0);
                background-color: rgba(255, 255, 255, 0);

                &:hover {
                    background-color: rgba(255, 255, 255, 0.05);
                    border-left: 3px solid rgba(255, 255, 255, 1);
                    color: rgba(255, 255, 255, 1);
                    transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);

                    &:after {
                        color: #006ba3;
                    }
                }

                &.is--active {
                    color: #ffffff;
                    border-left: 3px solid rgba(255, 255, 255, 1);
                    font-weight: 600;
                }
            }

            &.is--active {
                ul.navi--sub-tree {
                    height: auto;
                    border: none;
                 }
            }

            ul.navi--sub-tree {
                .transition(all 0.4s ease-out);
                height: 0;
                overflow: hidden;

                &.is-numbered {
                    margin-bottom: 5px;
                }

                li.navi--sub-chapter {
                    .navi--link {
                        font-size: 16px;
                        color: rgba(255, 255, 255, 0.55);
                        padding: 5px 15px 5px 38px;
                        font-weight: 500;
                        z-index: 5;

                        &:after {
                            color: #97b1bf;
                        }

                        &.is--active {
                            color: rgba(255, 255, 255, 1);
                            font-weight: 600;

                            &:after {
                                color: #ffffff;
                            }

                            &:hover {
                                color: rgba(255, 255, 255, 1);
                                background-color: rgba(255, 255, 255, 0);
                            }
                        }

                        &:not(.is--active):hover {
                            color: rgba(255, 255, 255, 0.9);
                            background-color: rgba(255, 255, 255, 0);

                            &:after {
                                color: #ffffff;
                            }
                        }
                    }

                    &.is--active {
                        ul.navi--sub-tree {
                            height: auto;
                        }
                    }

                    ul.navi--sub-tree {
                        .transition(all 0.4s ease-out);
                        height: 0;
                        overflow: hidden;

                        li.navi--sub-chapter {
                            .navi--link {
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.33);
                                padding: 3px 30px 3px 50px;
                                font-weight: 500;
                                z-index: 1;

                                &:after {
                                    content: '';
                                    display: none;
                                }

                                &.is--active {
                                    color: #ffffff;
                                    border-color: rgba(255, 255, 255, 0);
                                    font-weight: 600;
                                }

                                &:not(.is--active):hover {
                                    color: #ffffff;
                                    background-color: rgba(255, 255, 255, 0);
                                    border-color: rgba(255, 255, 255, 0);

                                    &:before {
                                    }
                                }
                            }
                        }

                        &.is--numbered li.navi--sub-chapter .navi--link {
                            &:before {
                                display: block;
                                width: 20px;
                                font-size: 13px;
                                position: absolute;
                                font-weight: bold;
                                text-align: right;
                                top: 6px;
                                left: 20px;
                            }

                            &:hover:before {
                                background: none;

                            }
                        }
                    }
                }
            }
        }
    }
}

.navi--backlink {
    display: none;
}

.navi--backlink-mobile {
    font-family: 'Brandon', Arial, sans-serif;
    font-weight: 400;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0;
    color: #fff;
    background-color: hsla(0, 0%, 100%, .05);
    cursor: pointer;
    transition: all .3s cubic-bezier(.25, .2, .45, 1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    a {
        font-family: 'Brandon', Arial, sans-serif;
        display: block;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin: 0;
        padding: 0 !important;
        color: #fff;
        background-color: hsla(0, 0%, 100%, .05);
        cursor: pointer;
        transition: all .3s cubic-bezier(.25, .2, .45, 1);
        &:hover {
            background-color:  hsla(0,0%,100%,.1);
            transition: all .3s cubic-bezier(.25,.2,.45,1);
            i {
                left: -24px;
            }
        }
        i {
            height: 60px;
            font-size: 10px;
            display: inline-block;
            transform: translateY(-3px);
            line-height: 10px;
            text-align: center;
            margin: 0;
            position: relative;
            left: -14px;
            transition: left .3s cubic-bezier(.25, .2, .45, 1);
        }
    }
}

@media screen and (min-width: 768px) {

    .navi--backlink-mobile {
        display: none;
    }

    .navi--backlink {
        font-family: 'Brandon', Arial, sans-serif;
        font-weight: 400;
        display: block;
        height: 60px;
        line-height: 68px;
        text-align: center;
        margin: 0;
        color: #fff;
        background-color: hsla(0, 0%, 100%, .05);
        cursor: pointer;
        transition: all .3s cubic-bezier(.25, .2, .45, 1);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

    a {
            font-family: 'Brandon', Arial, sans-serif;
            display: block;
            height: 60px;
            line-height: 60px;
            text-align: center;
            margin: 0;
            color: #fff;
            background-color: hsla(0, 0%, 100%, .05);
            cursor: pointer;
            transition: all .3s cubic-bezier(.25, .2, .45, 1);
            &:hover {
                background-color:  hsla(0,0%,100%,.1);
                transition: all .3s cubic-bezier(.25,.2,.45,1);
                i {
                    left: -24px;
                }
            }
            i {
                height: 60px;
                font-size: 10px;
                display: inline-block;
                transform: translateY(-3px);
                line-height: 10px;
                text-align: center;
                margin: 0;
                position: relative;
                left: -14px;
                transition: left .3s cubic-bezier(.25, .2, .45, 1);
            }
        }
    }
}

/* FOOTER */
.main-footer {
    .clearfix();
    background: #f9f9f9;
    font-size: 14px;
    font-weight: 600;
    padding: 20px 10px;
    overflow: hidden;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(20,36,50,0.2);
    text-align: center;
    z-index: 9200;

    .footer--links {
        a {
            color: rgba(20,36,50,0.2);
            font-size: 14px;
            font-weight: 600;
            padding: 0 20px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 20px 0 20px 60px;
        margin-left: 350px;
        text-align: right;

        .copyright {
            float: right;
        }

        .footer--links {
            float: left;
        }

        .copyright {
            margin-right: 40px;
        }

    }
}

.row {
    margin: 0;
}

.progress-bar {
    .ver-gradient(@blue01, @blue02);
}

#searchBox {
    display: block;
    width: 100%;
    padding: 0px 30px 8px 30px;
    position: fixed;
    top: 100px; left: 0;
    z-index: 9990;

    @media screen and (min-width: 1200px) {
        top: 180px;
        left: 0;
        padding: 0px 18px 15px 18px;
        width: 350px;
    }
}

#search-form {
    position: relative;

}

form#search-form {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.35);
}

#search-action {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -9px;
    background: none;
    border: none;
    font-family: 'scc';
    font-size: 16px;
    color: rgba(255, 255, 255, 0.35);
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: rgba(255, 255, 255, 1);
    }

    &:before {
        display: block;
        content: "\f002";
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0; left: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
    }

    .active & {
        cursor: pointer;
        font-size: 18px;

        &:before {
            content: '\e678';
        }
    }
}

input#search-query {
    font-size: 16px;
    height: 40px;
    padding: 5px 50px;
    width: 100%;
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    background: rgba(205, 221, 247, 0.15);
    font-family: 'Brandon';

    &::-ms-clear {
        display: none;
    }

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.3);
        font-weight: 600;
    }

    &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.3);
        font-weight: 600;
    }

    &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(255, 255, 255, 0.3);
        font-weight: 600;
    }

    &:-moz-placeholder { /* Firefox 18- */
        color: rgba(255, 255, 255, 0.3);
        font-weight: 600;
    }
}

#search-results {
    position: fixed;
    z-index: 9100;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 15px;
    background: #ffffff;
    overflow-y: auto;

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding: 40px;
        left: 350px;
        top: 0;
    }
}

.search-results--headline {
    margin: 0 0 20px 0;
}

#search-results .entry {
    display: block;
    padding: 8px 15px;
    font-size: 16px;
    font-weight: 400;
    background: #f1f5f8;
    color: #4e697a;
    margin-bottom: 10px;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: @blue02;
        background: #e7f2f9;
        outline: none;
    }
}

#search-results em {
    background: #a1ddff;
    font-style: normal;
}

#search-results p {
    padding: 10px 30px;
}

#search-results article:first-of-type h2 {
    border-top: 1px solid #ebf0f3;
}

#search-results article:last-of-type h2 {
    border-bottom: none;
    margin-bottom: 5px;
}

.badge {
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px 8px;
    display: inline-block;
    background-color: #1491e7;
    color: white;
}

.front-teaser {
    .clearfix();

    .teaser {
        display: block;
        width: 100%;
        height: 295px;
        padding: 200px 0 0 0;
        margin: 0 0 20px 0;
        position: relative;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            .teaser--headline {
                background: #42a1e0;
            }

            &:after {
                opacity: 1;
            }
        }

        &:after {
            .transition(opacity 0.2s ease-out);
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(66, 161, 224, 0.6);
            position: absolute;
            top: 0; left: 0;
            z-index: 1;
            opacity: 0;
        }

        @media screen and (min-width: 768px) {
            width: 49%;
        }
    }

    .teaser-plugins {
        float: left;
        background: url("../img/front_teaser_plugins.jpg") no-repeat right center;
        background-size: cover;
    }

    .teaser-themes {
        float: right;
        background: url("../img/front_teaser_themes.jpg") no-repeat right center;
        background-size: cover;
    }

    .teaser--headline {
        .transition(all 0.2s ease-out);
        display: block;
        padding: 10px 20px;
        position: relative;
        z-index: 10;
        font-size: 26px;
        font-weight: bold;
        color: #ffffff;
        background: #4e738c;
    }
}

.profession--selection {
    .clearfix();

    .profession--teaser {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 20px;
        background: #f1f5f8;
        border-bottom: 6px solid;
        text-align: center;
        color: #677c8a;

        @media screen and (min-width: 480px) {
            width: 23.5%;
            margin-right: 2%;
            margin-bottom: 0;
            min-height: 195px;

            &:last-child {
                margin-right: 0;
            }
        }

        &.teaser--sys {
            border-color: #acc1ce;

            &:hover {
                background: #acc1ce;
            }
        }

        &.teaser--dev {
            border-color: #84aec9;

            &:hover {
                background: #84aec9;
            }
        }

        &.teaser--design {
            border-color: #91cbf1;

            &:hover {
                background: #91cbf1;
            }
        }

        &.teaser--labs {
            border-color: @gray04;

            &:hover {
                background: @gray04;
            }
        }

        .icon--sys {
            background: url("../img/icon_sys.png") center center no-repeat;
        }

        .icon--dev {
            background: url("../img/icon_dev.png") center center no-repeat;
        }

        .icon--design {
            background: url("../img/icon_design.png") center center no-repeat;
        }

        .icon--labs {
            background: url("../img/icon_labs.png") center center no-repeat;
        }

        &:hover {
            color: #ffffff;

            .icon--sys {
                background: url("../img/icon_sys_hover.png") center center no-repeat;
            }

            .icon--dev {
                background: url("../img/icon_dev_hover.png") center center no-repeat;
            }

            .icon--design {
                background: url("../img/icon_design_hover.png") center center no-repeat;
            }

            .icon--labs {
                background: url("../img/icon_labs_hover.png") center center no-repeat;
            }
        }
    }

    .profession--icon {
        display: block;
        width: 75px;
        height: 75px;
        margin: 20px auto;
    }

    .profession--name {
        display: block;
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 15px 0;
    }
}

.blog--teaser {
    .clearfix();

    .blog-post {
        border-bottom: 0 none;
        padding-bottom: 0;
        margin-bottom: 30px;

        .header-title {
            margin-top: 5px;
        }

        .post-date {
            font-size: 13px;
            color: @gray04;

            .icon {
                margin-right: 5px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        .blog-post {
            width: 30%;
            margin-right: 5%;
            padding-top: 10px;
            float: left;
            border-bottom: 0 none;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.community--links {
    .clearfix();
    margin-left: -1%;

    .link {
        display: inline-block;
        width: 49%;
        height: 80px;
        margin-left: 1%;
        margin-bottom: 15px;
        float: left;
        padding: 15px 15px 10px 15px;
        background: #f1f5f8;
        border-bottom: 4px solid #acc1ce;
        color: #677c8a;
        text-align: center;
        font-size: 0;

        @media screen and (min-width: 460px) {
            width: 32.333%;
        }

        @media screen and (min-width: 960px) {
            width: 15.666%;
        }

        &:hover {
            background: #acc1ce;
            color: #ffffff;
        }

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .link--label {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
        }
    }
}

.devdocs {
    .clearfix();

    code.hljs,
    pre > code.language-nohighlight {
        background: #f9f9f9;
        border-radius: 3px;
        font-size: 14px;
        padding: 30px;
        font-family: "Consolas", "Monaco", "DejaVu Sans Mono", "Courier New", sans-serif;
        margin: 0px 0 40px 0;
        border: 1px solid #f2f2f2;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }

    code:not(.hljs):not(.language-nohighlight) {

        &::before {
            letter-spacing: -0.2em;
            content: "\00a0";
        }

        &::after {
            letter-spacing: -0.2em;
            content: "\00a0";
        }

        padding: 0.2em 0;
        background-color: rgba(0,0,0,.04);
        border-radius: 3px;
        font-family: "Consolas", "Monaco", "DejaVu Sans Mono", "Courier New", sans-serif;
        font-size: 13px;
        color: #000;
        word-wrap: break-word;
    }

    pre > code.language-nohighlight {
        white-space: pre;
        display: block;
    }

    #search input {
        width: 300px;
        border: 1px solid @gray03;
        padding: 3px;

    }

    img {
        max-width: 100%;
        margin-top: 15px;
    }

    .info {
        line-height: 26px;

        .edit-on-github {
            display: inline-block;
            margin-bottom: 5px;

            .icon-github {
                font-size: 24px;
                top: 4px;
            }
        }

        .version {
            float: right;
            display: inline-block;
            margin-bottom: 20px;

            .versionBadge {
                margin-left: 5px;
                border-radius: 5px;
                padding: 3px 8px;
                display: inline-block;
                background-color: #1491e7;
                color: white;
            }
        }

        @media screen and (min-width: 1200px) {
            margin-bottom: 5px;

            .edit-on-github {
                margin-bottom: 0;
            }

            .version {
                margin: 0 0 0 20px;
            }
        }
    }

    em {
        font-style: italic;
    }

    ol {
        margin-left: 50px;
        margin-bottom: 20px;

        li {
            padding: 10px 0 6px 0;
        }
    }

    ul {
        margin-bottom: 20px;

        li {
            position: relative;
            margin: 5px 0 5px 30px;

            @media screen and (min-width: 768px) {
                margin: 8px 0 8px 30px;
            }

            &:before {
                content: '';
                position: absolute;
                background-color: #1491e7;
                background-repeat: no-repeat;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                height: 5px;
                width: 5px;
                display: block;
                margin-top: 8px;
                left: -15px;
            }

            li {
                margin: 4px 0 4px 30px;

                &:before {
                    background: #cad9e0;
                    padding-bottom: 0;
                }
            }

            ul {
                margin-bottom: 16px;
            }
        }
    }

    .guide--teaser {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .guide-list {
        list-style: none;

        li {
            display: block;
            padding: 0;
            margin: 0 0 10px 0;

            &:before {
                content: none;
            }

            a {
                display: block;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: 400;
                background: #f4f7fa;
                border-radius: 3px;
                color: #4e697a;

                &:hover {
                    color: @blue02;
                    background: lighten(@blue02, 46%);
                }
            }
        }

        &.is--numbered {
            counter-reset: guide-counter;

            li a {
                padding-left: 10px;

                &:before {
                    content: counter(guide-counter);
                    counter-increment: guide-counter;
                    display: inline-block;
                    min-width: 20px;
                    padding: 0 10px;
                    margin: 0 20px 0 0;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 28px;
                    background: @blue02;
                    color: #ffffff;
                }
            }
        }
    }

    /* TABLES */
    table {
        margin: 30px 0;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;;
    }

    table > tbody tr:nth-child(odd) td {
        background-color: #fafafa;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td,
    table th,
    table td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid @gray03;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background: transparent;
    }

    table th {
        font-weight: 700;
    }

    table thead th {
        vertical-align: bottom;

        a {
            color: @gray05;
            &:hover {
                color: @blue02;
            }
        }
    }

    table caption + thead tr:first-child th,
    table caption + thead tr:first-child td,
    table colgroup + thead tr:first-child th,
    table colgroup + thead tr:first-child td,
    table thead:first-child tr:first-child th,
    table thead:first-child tr:first-child td {
        border-top: 0;
        border-bottom-width: 2px;
        border-bottom-color: #D2DEE4;
    }

    table tbody + tbody {
        border-top: 2px solid @gray03;
    }

    table .table {
        background-color: #fff;
    }

    .table-striped tbody > tr:nth-child(odd) > td,
    .table-striped tbody > tr:nth-child(odd) > th {
        background-color: fade(@gray01, 50%);
    }

    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding: 15px 10px;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        line-height: normal;
    }

    table > thead > tr > th {
        border-bottom: 1px solid @gray02;
    }

}

/** {#} Blog
--------------------------------------------------------*/

h2#recent-blog-posts a {
    font-size: 33px;
}

.blog-post {
    border-bottom: 1px solid #dfe4e7;
    margin-bottom: 20px;
    padding-bottom: 40px;

    .post-desc {
        line-height: 28px;
    }

    .header-title {
        border-bottom: none;
        margin-top: 20px;
    }

    .blog-authors {
        .clearfix();
        margin-bottom: 30px;
    }

    .blog-user-info {
        .clearfix();
    }

    .blog-detail-text {
        margin-bottom: 30px;
    }

    .blog-avatar {
        float: left;

        img {
            display: block;
            border: 1px solid #ebf0f3;
            overflow: hidden;
            margin-top: 0;
            margin-right: 15px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
        }
    }

    .blog-user {
        color: #93a6b3;
        float: left;
        line-height: 24px;

        a {
            color: #93a6b3;

            &:hover {
                color: #1C556D;
            }
        }
    }

    .user-services a {
        color: darken(#93a6b3, 15%)
    }

    .service-desc {
        display: none;
    }

    .post-desc {
        margin: 15px 0;
    }

    .desc {
        margin-right: 3px;
    }

    .badge {
        &:extend(.badge);
        margin-left: 0;
        margin-top: 5px;
    }

    .additional {
        display: none;
        margin-top: 30px;
        margin-bottom: 20px;

        .categories {
            margin-bottom: 20px;
            margin-right: 30px;
            float: left;
        }

        .tags {
            margin-bottom: 20px;
            float: left;

            .badge {
                margin-right: 3px;
                margin-bottom: 5px;
            }
        }
    }
}


@media screen and (max-width: 1074px) {
    .main-nav-container {
        border-top: 2px solid rgba(14, 56, 79, 0.15);
        float: right;
        width: 100%
    }

    .main-nav-col {
        width: 25%;

        a {
            text-align: center;
        }

        &:last-child, &:last-child a {
            border-right: 0 none;
        }
    }
}

@media screen and (max-width: 780px) {

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 21px;
    }

    .main-nav-container {
        border-top: 0 none;
    }

    .main-nav-col {
        width: 100%;

        a {
            font-size: 14px;
            padding: 14px 25px;
            border-top: 2px solid rgba(14, 56, 79, 0.15);
        }
    }
}

// -------- Table of Content --------------

.toc-wrapper {
    background: #FFFFFF;
    box-shadow: 0 0px 20px 0 rgba(12, 21, 75, 0.10);
    border-radius: 5px;
    padding: 10px 30px 30px 35px;
}

.toc-list {
    h2 {
        margin-top: 20px;
        color: #142432;
    }

    .devdocs ul.toc-list--element li {
        margin: 8px 0 8px 20px;
    }
}

.devdocs .toc-list {
    ul li {
        margin: 5px 0px 5px 20px;
        font-weight: 500;
        font-size: 15px;
        display: block;
        word-wrap: break-word;
    }

    ul li ul {
        margin-bottom: 16px;
        margin-top: 10px;
    }

    ul li li {
        margin: 2px 0 2px 20px;
        font-weight: 500;
        word-wrap: break-word;

        a {
            font-size: 14px;
        }
    }
}


@media screen and (min-width: 1660px) {
    .toc-wrapper {
        overflow-y: auto;
        background: #FFFFFF;
        box-shadow: 0 -20px 30px 0 rgba(12,21,75, 0.10);
        border-radius: 5px;
        padding: 50px 50px 30px 45px;
        position: fixed;
        right: -20px;
        top: 0;
        z-index: 1;
        width: 390px;
        min-height: 43%;
        max-height: 93%;

    }

    .toc-list {
        font-size: 15px;
        line-height: 130%;


        &:hover {
            opacity: 1;
        }

        .devdocs ul li {
            margin: 8px 0px 8px 20px;
        }

        .devdocs ul li ul {
            font-size: 14px;
        }
    }

    .toc-list--headline {
        font-size: 22px;
        color: #607182;
    }
}

@media screen and (min-width: 1900px) {
    .toc-wrapper {
        width: 450px;
    }
}

//Back to top button ----------------

.dev-top {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(96, 113, 130, 0.8) url("../img/arrow-up.svg") no-repeat center;
    background-size: 23px 23px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.dev-top.dev-is-visible {
    visibility: visible;
    opacity: 1;
}

.dev-top.dev-fade-out {
    opacity: .8;
}

.no-touch .dev-top:hover,
.dev-top.dev-fade-out:hover {
    background-color: #607182;
    opacity: 1;
}

@media only screen and (min-width: 1600px) {
    .dev-top {
        right: auto;
        bottom: 70px;
        left: 1215px;
    }
}

@media screen and (min-width: 1900px) {
    .dev-top {
        left: 1230px;
    }
}


