@import "_imports/reset.less";
@import "_imports/anchor.less";
@import "_imports/icons.less";
@import "_imports/variables.less";
@import "_imports/gradients.less";
@import "_imports/mixins.less";
@import "_imports/forms.less";
@import "_imports/buttons.less";
@import "_imports/alerts.less";
@import "_imports/grid.less";
@import "_imports/typography.less";
@import "_imports/pagination.less";
@import "_imports/codeExpand.less";
@import "_imports/video.less";

/**
 * — Minor Section Heading —
 */
html, body {
    font: @main-font 'Open Sans', Arial, sans-serif;
    background: @gray01;
    color: @gray05;
}
a {
    &, &:hover, &:active, &:focus {
        text-decoration: none;
        color: @blue02;
    }

    &:hover {
        color: lighten(@blue01, 10%);
    }
}

.full-width {
    width: 100% !important;
}

/** Helper classes */
.center, .is-center {
    text-align: center;
}

.is-float-left {
    float: left;
    margin: 10px 40px 20px 0;
}

.is-float-right {
    float:right;
    margin: 10px 0 20px 40px;
}

/* CLEARFIX / FIXFLOAT */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.text-link {
    text-decoration: none;
    color: @blue02;
    cursor: pointer;

    &:hover {
        color: lighten(@blue01, 10%);
    }
}

.pointer {
    cursor: pointer;
}

/* GRID */
.wrapper {
    padding-bottom: 146px;
    position: relative;
}

.container {
    max-width: 1100px;
    width: 100%;
    padding: 0;
    position: relative;
    margin: 0 auto;
}

.content {
    width: 100%;
    margin: 35px auto 35px auto;
    background: #fff;
    padding: 0 46px;
    .box-shadow(0 2px 2px fade(@gray03, 40%));
    .border-radius(3px);
}

.inner-container {
    padding: 46px 0;
}

/** {#} Header */
.header--main {
    background: @blue04;
    padding: 8px 0 4px;

    .logo {
        display: block;
        float: left;
        margin: 11px 0px 8px 0px;

        img {
            height: 37px;
        }
    }
}

.btn--off-canvas {
    display: inline-block;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    background: rgba(0,0,0,.2);
    position: absolute;
    top: 6px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    *[class^="icon"] {
        color: #fff;
        font-size: 18px;
        margin-left: 4px;
    }

    &:hover {
        background: rgba(255, 255, 255, .8);

        *[class^="icon"] {
            color: @blue04;
        }
    }
}
.searchButton {
    right: 0;
}

.navi--main {
    background: #fff;
    border-bottom: 3px solid @gray02;

    .navi--link {
        display: inline-block;
        color: #5c6f7c;
        padding: 5px 0;
        margin: 15px 0;
        border-right: 1px solid #ebf0f3;

        &:hover {
            color: @blue02;
        }

        span {
            padding: 8px 20px;
            margin: 0 10px;
            border-radius: 28px;
            -webkit-border-radius: 28px;
            -moz-border-radius: 28px;
        }

        &:first-child span {
            padding-left: 0;
            margin-left: 0;
        }
    }
}

.js--mobile-nav { display: none }

/* FOOTER */
.main-footer {
    background: @blue04;
    color: #fff;
    padding: 0 0 26px 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;

    h4 {
        border-bottom: 1px solid @gray04;
        padding-bottom: 10px;
        margin-bottom: 20px;
        color: #fff;
    }

    a {
        color: #fff;

        &:hover {
            color: @gray04;
        }
    }
}

.main-footer-nav-col {
    a {
        display: block;
        padding: 10px 20px 10px 0;
    }
}

.main-footer-newsletter {
    position: relative;

    .btn {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 19px;
        height: 39px;
        font-family: 'scc';
        .border-radius(0 5px 5px 0);
    }
}

input.main-footer-newsletter-textfield {
    border: none;
    background: @blue03;
    padding-right: 65px;
    color: #fff;
    width: 100%;
}

.main-footer-social {
    a {
        font-size: 40px;
    }
}

.main-footer-bottom {
    border-top: 1px solid fade(@gray04, 40%);
    margin: 30px 20px 0 20px;
}

.main-footer-bottom-col1 {
    padding: 20px 0 0;
    text-align: center;
}

.main-footer-bottom-col3 {
    text-align: right;
    font-size: 14px;
    padding: 20px 0 0;
}

.main-footer-contact {
    margin-bottom: 20px;
    border-top: 5px solid fade(@blue05, 60%);
}

.main-footer-contact-inner {
    background: @blue05;
    color: @gray04;
    padding: 0 0 40px 0;
    display: none;

    .social-media .icon {
        font-size: 24px;
        color: #fff;

        &:hover {
            color: fade(#fff, 50%);
        }
    }

    h3 {
        margin-bottom: 10px;
        margin-top: 0;
        color: #fff;

        .small {
            font-size: 14px;
            color: @gray04;
            display: block;
        }
    }

    h2 {
        margin-bottom: 40px;
        margin-top: 25px;
        text-align: center;
        color: #fff;
    }

    a, a:hover, a:active, a:focus {
        text-decoration: none;
        color: @blue02;
    }
    a:hover {
        color: lighten(@blue01, 10%);
    }

    &.is-active {
        display: block;
    }
}
.row {
    margin: 0;
}

.progress-bar {
    .ver-gradient(@blue01, @blue02);
}

#searchBox {
    display: block;
    float: right;
    width: 65%;
    margin: 11px 6px 0 0;
    position: relative;

    &::after {
        content: "\f002";
        font-family: 'scc';
        font-size: 16px;
        display: block;
        position: absolute;
        top: 10px;
        right: 15px;
    }
}

#search-results {
    box-shadow: 0 10px 25px -15px #000;
    position: absolute;
    z-index: 200;
    top: 44px;
    width: 79%;
    right: 8px;
    background: white;
}

#search-results h2 {
    border-top: 1px solid #ebf0f3;
    border-bottom: none;
    font-size: 17px;
    margin: 0 30px;
    padding: 15px 0;
}

#search-results a {
    display: block;
}
#search-results em {
	background: #f1f1f1;
}

#search-results a:hover h2,
#search-results a:focus h2,
#search-results a:active h2 {
    color: #1491e7;
}

#search-results a:hover,
#search-results a:focus,
#search-results a:active {
    background-color: #ebf0f3;
    outline: none;
}

input#search-query {
    font-size: 14px;
    height: 35px;
    padding-left: 25px;
    width: 100%;
    border-radius: 28px;
}

#search-results p {
    padding: 10px 30px;
}

#search-results article:first-of-type h2 {
    border-top: 1px solid #ebf0f3;
}

#search-results article:last-of-type h2 {
    border-bottom: none;
    margin-bottom: 5px;
}

#search-results .active {
    background-color: #ebf0f3;
    outline: none;
}

#search-results .active h2 {
    color: #1491e7;
}

.badge {
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px 8px;
    display: inline-block;
    background-color: #1491e7;
    color: white;
}

.front-teaser {
    .clearfix();

    .teaser {
        display: block;
        width: 100%;
        height: 295px;
        padding: 200px 0 0 0;
        margin: 0 0 20px 0;
        position: relative;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            .teaser--headline {
                background: #42a1e0;
            }

            &:after {
                opacity: 1;
            }
        }

        &:after {
            .transition(opacity 0.2s ease-out);
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(66, 161, 224, 0.6);
            position: absolute;
            top: 0; left: 0;
            z-index: 1;
            opacity: 0;
        }

        @media screen and (min-width: 768px) {
            width: 49%;
        }
    }

    .teaser-plugins {
        float: left;
        background: url("../img/front_teaser_plugins.jpg") no-repeat right center;
        background-size: cover;
    }

    .teaser-themes {
        float: right;
        background: url("../img/front_teaser_themes.jpg") no-repeat right center;
        background-size: cover;
    }

    .teaser--headline {
        .transition(all 0.2s ease-out);
        display: block;
        padding: 10px 20px;
        position: relative;
        z-index: 10;
        font-size: 26px;
        font-weight: bold;
        color: #ffffff;
        background: #4e738c;
    }
}

.profession--selection {
    .clearfix();

    .profession--teaser {
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 20px;
        background: #f1f5f8;
        border-bottom: 6px solid;
        text-align: center;
        color: #677c8a;

        @media screen and (min-width: 480px) {
            width: 32%;
            margin-right: 2%;
            margin-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &.teaser--sys {
            border-color: #acc1ce;

            &:hover {
                background: #acc1ce;
            }
        }

        &.teaser--dev {
            border-color: #84aec9;

            &:hover {
                background: #84aec9;
            }
        }

        &.teaser--design {
            border-color: #91cbf1;

            &:hover {
                background: #91cbf1;
            }
        }

        .icon--sys {
            background: url("../img/icon_sys.png") center center no-repeat;
        }

        .icon--dev {
            background: url("../img/icon_dev.png") center center no-repeat;
        }

        .icon--design {
            background: url("../img/icon_design.png") center center no-repeat;
        }

        &:hover {
            color: #ffffff;

            .icon--sys {
                background: url("../img/icon_sys_hover.png") center center no-repeat;
            }

            .icon--dev {
                background: url("../img/icon_dev_hover.png") center center no-repeat;
            }

            .icon--design {
                background: url("../img/icon_design_hover.png") center center no-repeat;
            }
        }
    }

    .profession--icon {
        display: block;
        width: 75px;
        height: 75px;
        margin: 20px auto;
    }

    .profession--name {
        display: block;
        font-size: 22px;
        font-weight: bold;
        margin: 0 0 15px 0;
    }
}

.blog--teaser {
    .clearfix();

    .blog-post {
        padding-bottom: 0;

        .header-title {
            margin-top: 5px;
        }

        .post-date {
            font-size: 13px;
            color: @gray04;

            .icon {
                margin-right: 5px;
            }
        }
    }

    @media screen and (min-width: 768px) {
        border-bottom: 1px solid #dfe4e7;

        .blog-post {
            width: 30%;
            margin-right: 5%;
            padding-top: 10px;
            float: left;
            border-bottom: 0 none;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.community--links {
    .clearfix();
    margin-left: -1%;

    .link {
        display: inline-block;
        width: 49%;
        height: 80px;
        margin-left: 1%;
        margin-bottom: 15px;
        float: left;
        padding: 15px 15px 10px 15px;
        background: #f1f5f8;
        border-bottom: 4px solid #acc1ce;
        color: #677c8a;
        text-align: center;
        font-size: 0;

        @media screen and (min-width: 460px) {
            width: 32.333%;
        }

        @media screen and (min-width: 960px) {
            width: 15.666%;
        }

        &:hover {
            background: #acc1ce;
            color: #ffffff;
        }

        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        .link--label {
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
        }
    }
}

.devdocs {
    font-size: 15px;
    min-height: 800px;
    min-height: 80vh;

    code.hljs,
    pre > code.language-nohighlight {
        background: #fafafa;
        border-radius: 3px;
        font-size: 14px;
        padding: 16px;
        font-family: "Consolas", "Monaco", "DejaVu Sans Mono", "Courier New", sans-serif;
    }
    code:not(.hljs):not(.language-nohighlight) {

        &::before {
            letter-spacing: -0.2em;
            content: "\00a0";
        }

        &::after {
            letter-spacing: -0.2em;
            content: "\00a0";
        }

        padding: 0.2em 0;
        background-color: rgba(0,0,0,.04);
        border-radius: 3px;
        font-family: "Consolas", "Monaco", "DejaVu Sans Mono", "Courier New", sans-serif;
        color: #333;
        font-size: 13px;
        word-wrap: break-word;
    }

    pre > code.language-nohighlight {
        white-space: pre;
        display: block;
    }

    #search input {
        width: 300px;
        border: 1px solid @gray03;
        padding: 3px;

    }

    img {
        max-width: 100%;
        margin-top: 15px;
    }

    .info {
        display: block;
        float: right;
        margin-left: 20px;

        .edit-on-github {
            float: right;
            margin-top: 8px;

            .icon-github {
                font-size: 24px;
                top: 4px;
            }
        }

        .version {
            float: right;
            margin-left: 20px;
            display: inline-block;
            margin-top: 11px;

            .versionBadge {
                margin-left: 5px;
                border-radius: 5px;
                padding: 3px 8px;
                display: inline-block;
                background-color: #1491e7;
                color: white;
            }
        }
    }

    em {
        font-style: italic;
    }

    ol {
        margin-left: 50px;
        margin-bottom: 20px;

        li {
            padding: 10px 0 6px 0;
        }
    }

    ul {
        margin-bottom: 20px;

        li {
            position: relative;
            margin: 4px 0 4px 40px;

            @media screen and (min-width: 768px) {
                margin: 4px 0 4px 60px;
            }

            &:before {
                content: '';
                position: absolute;
                background: linear-gradient(to bottom, #1fb3fb 0, #1491e7 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1491e7, endColorstr=#1fb3fb, GradientType=0);
                background-color: #1491e7;
                background-repeat: no-repeat;
                border-radius: 100%;
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                height: 10px;
                width: 10px;
                display: block;
                margin-top: 5px;
                left: -25px;
            }

            li {
                margin: 4px 0 4px 30px;

                &:before {
                    background: #cad9e0;
                    padding-bottom: 0;
                }
            }

            ul {
                margin-bottom: 16px;
            }
        }
    }

    .guide--teaser {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .guide-list {
        list-style: none;

        li {
            display: block;
            padding: 0;
            margin: 0 0 10px 0;

            &:before {
                content: none;
            }

            a {
                display: block;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: 400;
                background: #f1f5f8;
                color: #4e697a;

                &:hover {
                    color: @blue02;
                    background: #e7f2f9;
                }
            }
        }

        &.is--numbered {
            counter-reset: guide-counter;

            li a {
                padding-left: 10px;

                &:before {
                    content: counter(guide-counter);
                    counter-increment: guide-counter;
                    display: inline-block;
                    min-width: 20px;
                    padding: 0 10px;
                    margin: 0 20px 0 0;
                    line-height: 40px;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                    border-radius: 28px;
                    background: #46a8d1;
                    border: 2px solid #ffffff;
                    color: #ffffff;
                }
            }
        }
    }

    .guide--forward {
        padding: 20px 0 0 0;
        text-align: center;

        .forward--info {
            font-size: 18px;
            font-style: italic;
            margin: 0 0 5px 0;
        }

        .forward--btn {
            display: inline-block;
            padding: 6px 20px;
            font-size: 20px;
            background: #46a8d1;
            color: #ffffff;
            border-radius: 8px;

            &:hover {
                background: @blue01;
            }
        }
    }

    /* TABLES */
    table {
        margin: 30px 0;
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;;
    }

    table > tbody tr:nth-child(odd) td {
        background-color: #fafafa;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td,
    table th,
    table td {
        padding: 10px;
        text-align: left;
        vertical-align: top;
        border-top: 1px solid @gray03;
    }

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background: transparent;
    }

    table th {
        font-weight: 700;
    }

    table thead th {
        vertical-align: bottom;

        a {
            color: @gray05;
            &:hover {
                color: @blue02;
            }
        }
    }

    table caption + thead tr:first-child th,
    table caption + thead tr:first-child td,
    table colgroup + thead tr:first-child th,
    table colgroup + thead tr:first-child td,
    table thead:first-child tr:first-child th,
    table thead:first-child tr:first-child td {
        border-top: 0;
        border-bottom-width: 2px;
        border-bottom-color: #D2DEE4;
    }

    table tbody + tbody {
        border-top: 2px solid @gray03;
    }

    table .table {
        background-color: #fff;
    }

    .table-striped tbody > tr:nth-child(odd) > td,
    .table-striped tbody > tr:nth-child(odd) > th {
        background-color: fade(@gray01, 50%);
    }

    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding: 15px 10px;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        line-height: normal;
    }

    table > thead > tr > th {
        border-bottom: 1px solid @gray02;
    }

}

/** {#} Blog
--------------------------------------------------------*/
.blog-post {
    border-bottom: 1px solid #dfe4e7;
    margin-bottom: 20px;
    padding-bottom: 40px;

    .post-desc {
        line-height: 28px;
    }

    .header-title {
        border-bottom: none;
        margin-top: 20px;
    }

    .blog-authors {
        margin-bottom: 30px;
    }

    .blog-detail-text {
        margin-bottom: 30px;
    }

    .blog-avatar {
        float: left;
        margin-top: 12px;

        img {
            display: block;
            border: 1px solid #ebf0f3;
            overflow: hidden;
            margin-top: 0;
            margin-right: 15px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            border-radius: 100%;
        }
    }

    .blog-user {
        color: #93a6b3;
        float: left;
        line-height: 24px;

        a {
            color: #93a6b3;
        }
    }

    .user-services a {
        color: darken(#93a6b3, 15%)
    }

    .service-desc {
        display: none;
    }

    .post-desc {
        margin: 15px 0;
    }

    .desc {
        margin-right: 3px;
    }

    .badge {
        &:extend(.badge);
        margin-left: 0;
        margin-top: 5px;
    }

    .additional {
        display: none;
        margin-top: 30px;
        margin-bottom: 20px;

        .categories {
            margin-bottom: 20px;
            margin-right: 30px;
            float: left;
        }

        .tags {
            margin-bottom: 20px;
            float: left;

            .badge {
                margin-right: 3px;
                margin-bottom: 5px;
            }
        }
    }
}

.author {
    .blog-avatar {
        float: left;
        margin-bottom: 20px;

        img {
            &:extend(.blog-post .blog-avatar img);
            height: 100px;
            width: 100px;
        }
    }

    .release {
        display: none;
    }

    .service-desc {
        display: inline-block;
    }

    .user-services {
        float: left;

        .user-service {
            display: block;
            margin-top: 2px;
        }
    }

    .blog-user-info {
        margin-bottom: 20px;
    }


    .user-info a,
    .user-title {
            font-size: 20px;
    }

    ul {
        margin-top: 15px;

        li {
            padding: 2px 0 20px 0;
            border-bottom: 1px solid @gray03;
            margin-bottom: 15px;
        }

        .small {
            margin-top: 3px;
            display: block;
        }
    }
}


@media screen and (max-width: 1074px) {
    .main-nav-container {
        border-top: 2px solid rgba(14, 56, 79, 0.15);
        float: right;
        width: 100%
    }

    .main-nav-col {
        width: 25%;

        a {
            text-align: center;
        }

        &:last-child, &:last-child a {
            border-right: 0 none;
        }
    }
}

@media screen and (max-width: 780px) {
    .devdocs {

        .info {
            width: 100%;
            margin-bottom: 10px;

            .edit-on-github {
                display: block;
                margin: -12px 0 24px 0;
                float: none;
            }

            .version {
                display: block;
                float: none;
                margin-left: 0;
                margin-bottom: 20px;

                .badge {
                    float: none;
                }
            }
        }
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 21px;
    }

    .content {
        margin: 0 auto;
        padding: 0 24px;
    }

    .main-nav-container {
        border-top: 0 none;
    }

    .main-nav-col {
        width: 100%;

        a {
            font-size: 14px;
            padding: 14px 25px;
            border-top: 2px solid rgba(14, 56, 79, 0.15);
        }
    }
}


@media screen and (max-width: 875px) {
    .navi--main {
        padding: 15px;

        .container {
            display: none;
        }
    }
    .js--mobile-nav {
        display: block;
        width: 100%;
        height: 32px;
        line-height: 32px;
    }
}
@media screen and (max-width: 765px) {
    #searchBox {
        width: 50%;
    }
}

@media screen and (max-width: 545px) {
    #searchBox {
        width: 80%;
    }
}

