/.idea/
/vendor/
/composer.phar
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/output_*/
/source/components/
/source/assets/css/_imports/*.css
/source/assets/css/basic.css
