<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">B2b Preise</label>
    <label lang="en">B2b Prices</label>

    <version>1.0.0</version>
    <author>shopware AG</author>
    <link>https://en.shopware.com</link>
    <compatibility minVersion="5.3.0" />

    <changelog version="1.0.0">
        <changes lang="de">Veröffentlichung</changes>
        <changes lang="en">Release</changes>
    </changelog>
</plugin>
