/*
body {
  &.components {
    ::selection {
      color: @white;
      background: @blue;
    }
  }
  &.mixins {
    ::selection {
      color: @white;
      background: @mixins;
    }
  }
  &.modules {
    ::selection {
      color: @white;
      background: @modules;
    }
  }
  &.variables {
    ::selection {
      color: @white;
      background: @variables;
    }
  }
  &.cheatsheet {
    ::selection {
      color: @white;
      background: @cheatsheet;
    }
  }
}
*/
.page-wrap {
  padding-top: 0 !important;
  padding-left: 350px;
  padding-right: 0;
  -webkit-transition-property: padding;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.5, 0.95);
  transition-property: padding;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.8, 0, 0.5, 0.95);
  will-change: padding;
}
.page-wrap section.container > .content--wrapper:last-child:not(:only-child) {
  padding-bottom: 8rem;
}
.page-wrap section.container {
  padding-right: 0;
  -webkit-transition-property: padding, opacity;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.8, 0, 0.5, 0.95);
  transition-property: padding, opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.8, 0, 0.5, 0.95);
  will-change: padding, opacity;
}
.page-wrap.file--active {
  padding-right: 0;
}
.page-wrap.file--active section.container {
  padding-right: 0;
}
.page-wrap.file--active section.banner {
  margin-right: 0;
  padding-right: 0;
}
@media (min-width: 78.75em) {
  .page-wrap.file--active {
    padding-right: 30vw;
  }
  .page-wrap.file--active section.banner {
    margin-right: -30vw;
    padding-right: 30vw;
  }
  .page-wrap.file--active section.banner .section--inner {
    right: 30vw;
  }
}
@media (min-width: 1921px) {
  .page-wrap section.container {
    padding-right: 350px;
  }
}
@media (max-width: 1600px) {
  .page-wrap {
    padding-left: 262.5px;
  }
}
@media (max-width: 63.9375em) {
  .page-wrap {
    padding-left: 0;
  }
}
@media (min-width: 48em) {
  .page-wrap {
    min-height: calc(100vh - 140px);
  }
}
footer {
  margin-top: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 350px;
  background-color: #f9f9f9;
  overflow: auto;
}
body.cheatsheet footer {
  background-color: #fff;
}
footer .footer--container {
  padding: 0 40px;
}
footer .footer--links {
  float: left;
}
footer .footer--links a:hover {
  color: #142432;
}
footer .copyright,
footer a {
  display: inline-block;
  padding: 17px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(20, 36, 50, 0.2);
}
footer .copyright {
  float: right;
}
@media (max-width: 1600px) {
  footer {
    padding-left: 262.5px;
  }
}
@media (max-width: 63.9375em) {
  footer {
    padding-left: 0;
  }
  footer .footer--container {
    padding: 0 20px;
  }
}
@media (max-width: 47.9375em) {
  footer .footer--links,
  footer .copyright {
    float: none;
    width: 100%;
    text-align: center;
  }
  footer .copyright,
  footer a {
    padding: 10px;
  }
}
hr {
  margin: 25px 0;
  border: dashed rgba(20, 36, 50, 0.1);
  border-width: 1px 0 0;
}
iframe {
  width: 100%;
}
code {
  display: block;
  position: relative;
  font-size: 13px;
  white-space: pre-wrap;
}
code.hljs {
  padding: 0;
  line-height: 2;
  background: none;
  font-family: 'Menlo', 'Monaco', monospace;
}
code .lm {
  margin-right: 20px;
}
code .lm,
code .lm * {
  color: rgba(0, 0, 0, 0.25) !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}
body.modules code {
  white-space: pre;
}
a > h3,
a .h3 {
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
a > h3 [class*="icon--"],
a .h3 [class*="icon--"] {
  font-size: 12px;
  position: relative;
  top: -2px;
  left: 10px;
  color: #eaeef1;
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
a > h3:hover,
a .h3:hover {
  color: #189eff;
}
a > h3:hover [class*="icon--"],
a .h3:hover [class*="icon--"] {
  left: 16px;
  color: #189eff;
}
div.search {
  position: relative;
}
div.search:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  position: absolute;
  top: 3px;
  left: 0;
  background: url(../images/icons/search.svg) no-repeat center;
  background-size: 15px auto;
  opacity: .3;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
.light--gray {
  color: rgba(20, 36, 50, 0.25);
  display: block;
  margin-top: 8px;
  font-size: 16px;
}
.box {
  position: relative;
  padding: 26px 24px 22px;
  color: #142432;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.box .folder:before {
  content: "";
  display: inline-block;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  width: 21px;
  left: -1px;
  margin-right: 18px;
  background: no-repeat center;
  background-image: url(../images/icons/directory_black.svg);
  background-size: 22px auto;
}
.box p.is--xs {
  padding: 0;
}
.highlight-box {
  position: relative;
  padding: 26px 24px 22px;
  color: #142432;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  will-change: all;
}
.highlight-box .folder:before {
  content: "";
  display: inline-block;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  width: 21px;
  left: -1px;
  margin-right: 18px;
  background: no-repeat center;
  background-image: url(../images/icons/directory_black.svg);
  background-size: 22px auto;
}
.highlight-box p.is--xs {
  padding: 0;
}
.highlight-box a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.highlight-box:hover {
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.2);
}
.highlight-box .icon-left > img {
  top: 0;
  width: 36px;
  max-height: 36px;
}
.highlight-box .icon-left + div {
  margin-left: 62px;
}
.highlight-box.is--text-centered {
  padding: 30px 40px 24px;
}
.highlight-box .prev--arrow,
.highlight-box .next--arrow {
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  border: solid rgba(20, 36, 50, 0.4);
  -moz-transform: translate(0, -50%) rotate(45deg);
  -ms-transform: translate(0, -50%) rotate(45deg);
  -o-transform: translate(0, -50%) rotate(45deg);
  -webkit-transform: translate(0, -50%) rotate(45deg);
  transform: translate(0, -50%) rotate(45deg);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  will-change: all;
}
@media (max-width: 47.9375em) {
  .highlight-box .prev--arrow,
  .highlight-box .next--arrow {
    display: none;
  }
}
.highlight-box .prev--arrow {
  left: -40px;
  border-width: 0 0 2px 2px;
}
.highlight-box .next--arrow {
  right: -40px;
  border-width: 2px 2px 0 0;
}
.highlight-box:hover .prev--arrow {
  left: -50px;
}
.highlight-box:hover .next--arrow {
  right: -50px;
}
@media screen and (min-width: 48em) {
  .highlight-box.is--position-center {
    width: 50%;
    margin: auto;
  }
}
.float-box {
  float: right;
  margin: 0 0 20px 10px;
  width: 245px;
  top: -50px;
  left: var(--gutter, 20px);
  position: relative;
  padding: 26px 24px 22px;
  color: #142432;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.float-box .folder:before {
  content: "";
  display: inline-block;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  width: 21px;
  left: -1px;
  margin-right: 18px;
  background: no-repeat center;
  background-image: url(../images/icons/directory_black.svg);
  background-size: 22px auto;
}
.float-box p.is--xs {
  padding: 0;
}
.view-file {
  border-width: 1px;
  float: right;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.view-file:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  top: 2px;
  margin-right: 10px;
  background: no-repeat center;
  background-image: url(../images/icons/file_black.svg);
  background-size: auto 13px;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  margin-right: 0;
  margin-left: 10px;
}
@media (max-width: 29.9375em) {
  .view-file {
    width: 150px;
    text-indent: 5px;
  }
  .view-file,
  .view-file:hover {
    -moz-transform: scale(0.8) translate(20px, -12px) !important;
    -ms-transform: scale(0.8) translate(20px, -12px) !important;
    -o-transform: scale(0.8) translate(20px, -12px) !important;
    -webkit-transform: scale(0.8) translate(20px, -12px) !important;
    transform: scale(0.8) translate(20px, -12px) !important;
  }
}
.file-tree ul {
  font-weight: 600;
  position: relative;
  padding-left: 35px;
}
.file-tree ul li {
  padding: 13px 0;
}
.file-tree ul:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 9px;
  bottom: 21px;
  border-left: 1px dashed #fff;
  pointer-events: none;
  border-color: #142432;
}
.file-tree span.folder,
.file-tree strong.folder {
  display: block;
}
.file-tree span.folder:before,
.file-tree strong.folder:before {
  content: "";
  display: inline-block;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  width: 21px;
  left: -1px;
  margin-right: 18px;
  background: no-repeat center;
  background-image: url(../images/icons/directory_black.svg);
  background-size: 22px auto;
}
.file-tree span.folder.linked:after,
.file-tree strong.folder.linked:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 11px;
  left: 22px;
  width: 1px;
  height: 25px;
  border-left: 1px dashed #fff;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #142432;
}
.file-tree span.file,
.file-tree strong.file {
  display: block;
  position: relative;
}
.file-tree span.file:before,
.file-tree strong.file:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  text-align: center;
  position: relative;
  top: 1px;
  top: 2px;
  margin-right: 10px;
  background: no-repeat center;
  background-image: url(../images/icons/file_black.svg);
  background-size: auto 13px;
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.file-tree span.file:after,
.file-tree strong.file:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -16px;
  width: 1px;
  height: 22px;
  border-left: 1px dashed #fff;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #142432;
}
.file-tree span.file.linked:after,
.file-tree strong.file.linked:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 23px;
  width: 1px;
  height: 29px;
  border-left: 1px dashed #fff;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  border-color: #142432;
}
.dp--wrapper .btn.is--border {
  border-color: rgba(0, 0, 0, 0.05);
}
.dp--wrapper .btn.is--border:before {
  background-color: #f9f9f9;
}
.dp--wrapper .btn.is--border:active:before {
  background-color: #ececec;
}
.dp--wrapper .prev span,
.dp--wrapper .next span {
  display: block;
}
.dp--wrapper .prev span + span,
.dp--wrapper .next span + span {
  margin-top: 10px;
  font-size: 14px;
  color: rgba(96, 113, 130, 0.3);
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
@media (max-width: 29.9375em) {
  .dp--wrapper .prev span + span,
  .dp--wrapper .next span + span {
    font-size: 13px;
  }
}
.dp--wrapper .prev:hover span + span {
  padding-left: 10px;
  color: rgba(96, 113, 130, 0.6);
}
.dp--wrapper .next {
  text-align: right;
}
.dp--wrapper .next:hover span + span {
  padding-right: 10px;
  color: rgba(96, 113, 130, 0.6);
}
.page--headline {
  text-align: center;
}
.page--headline h1 {
  margin-top: 2rem !important;
}
.page--headline p {
  max-width: 400px;
  margin: 0 auto;
}
.page--headline .icon-left {
  float: none;
  margin: 0;
}
.page--headline .icon-left > img {
  width: 56px;
  max-height: 56px;
  margin: 0 auto;
}
.page--headline .float-box {
  float: none;
  left: 0;
  right: 0;
  top: 0;
  margin: 30px auto 0;
  text-align: left;
}
.page--headline hr,
.page--headline hr ~ p {
  display: none;
}
u,
.popover--holder a {
  display: inline-block;
  border: 1px solid #f2f2f2;
  background-color: #f9f9f9;
  margin: 0 3px;
  padding: 0 10px;
  line-height: 1.9;
  border-radius: 4px;
  color: #142432;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
u:hover,
.popover--holder a:hover {
  color: #fff;
  background-color: #142432;
  border-color: #142432;
}
u.html,
.popover--holder a.html {
  color: #ffb413;
  border-color: rgba(255, 180, 19, 0.3);
  background-color: rgba(255, 180, 19, 0.1);
}
u.html:hover,
.popover--holder a.html:hover {
  color: #fff;
  border-color: #ffb413;
  background-color: #ffb413;
}
u.class,
.popover--holder a.class {
  color: #92c261;
  border-color: rgba(146, 194, 97, 0.3);
  background-color: rgba(146, 194, 97, 0.1);
}
u.class:hover,
.popover--holder a.class:hover {
  color: #fff;
  border-color: #92c261;
  background-color: #92c261;
}
u.html,
u.class {
  padding: 0;
  border: 0 !important;
  background-color: transparent !important;
}
u.html:hover {
  color: #ffb413;
}
u.class:hover {
  color: #92c261;
}
.popover--holder.is--active a,
.popover--holder.is--active a:hover {
  color: #fff;
  background-color: #142432;
  border-color: #142432;
}
.popover--holder.is--active a.html,
.popover--holder.is--active a.html:hover {
  color: #fff;
  border-color: #ffb413;
  background-color: #ffb413;
}
.popover--holder.is--active a.class,
.popover--holder.is--active a.class:hover {
  color: #fff;
  border-color: #92c261;
  background-color: #92c261;
}
.dp--wrapper .hidden {
  display: none !important;
}
.dp--wrapper .row.hidden.keep {
  display: flex !important;
}
.dp--wrapper .row.hidden.keep > .col.hidden {
  display: block !important;
}
.dp--wrapper .row.hidden.keep > .col.hidden p,
.dp--wrapper .row.hidden.keep > .col.hidden div,
.dp--wrapper .row.hidden.keep > .col.hidden nav {
  display: none;
}
.dp--wrapper [class*="--border"] > .col-inner {
  border-color: #f2f2f2;
}
.dp--wrapper .has--border-gray > .col-inner {
  background-color: #fcfcfc;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
