.visible--s,
.visible-inline--s,
.visible-inline-block--s,
.visible--m,
.visible-inline--m,
.visible-inline-block--m,
.visible--l,
.visible-inline--l,
.visible-inline-block--l,
.visible--xl,
.visible-inline--xl,
.visible-inline-block--xl {
  display: none !important;
}
.visible--xs {
  display: block !important;
}
table.visible--xs {
  display: table !important;
}
tr.visible--xs {
  display: table-row !important;
}
th.visible--xs,
td.visible--xs {
  display: table-cell !important;
}
.visible-inline--xs {
  display: inline !important;
}
table.visible-inline--xs {
  display: table !important;
}
tr.visible-inline--xs {
  display: table-row !important;
}
th.visible-inline--xs,
td.visible-inline--xs {
  display: table-cell !important;
}
.visible-inline-block--xs {
  display: inline-block !important;
}
table.visible-inline-block--xs {
  display: table !important;
}
tr.visible-inline-block--xs {
  display: table-row !important;
}
th.visible-inline-block--xs,
td.visible-inline-block--xs {
  display: table-cell !important;
}
.hidden--s,
.hidden--m,
.hidden--l,
.hidden--xl {
  display: inherit !important;
}
.hidden--xs {
  display: none !important;
}
@media screen and (min-width: 30em) {
  .visible--xs,
  .visible-inline--xs,
  .visible-inline-block--xs,
  .visible--m,
  .visible-inline--m,
  .visible-inline-block--m,
  .visible--l,
  .visible-inline--l,
  .visible-inline-block--l,
  .visible--xl,
  .visible-inline--xl,
  .visible-inline-block--xl {
    display: none !important;
  }
  .visible--s {
    display: block !important;
  }
  table.visible--s {
    display: table !important;
  }
  tr.visible--s {
    display: table-row !important;
  }
  th.visible--s,
  td.visible--s {
    display: table-cell !important;
  }
  .visible-inline--s {
    display: inline !important;
  }
  table.visible-inline--s {
    display: table !important;
  }
  tr.visible-inline--s {
    display: table-row !important;
  }
  th.visible-inline--s,
  td.visible-inline--s {
    display: table-cell !important;
  }
  .visible-inline-block--s {
    display: inline-block !important;
  }
  table.visible-inline-block--s {
    display: table !important;
  }
  tr.visible-inline-block--s {
    display: table-row !important;
  }
  th.visible-inline-block--s,
  td.visible-inline-block--s {
    display: table-cell !important;
  }
  .hidden--xs,
  .hidden--m,
  .hidden--l,
  .hidden--xl {
    display: inherit !important;
  }
  .hidden--s {
    display: none !important;
  }
}
@media screen and (min-width: 48em) {
  .visible--xs,
  .visible-inline--xs,
  .visible-inline-block--xs,
  .visible--s,
  .visible-inline--s,
  .visible-inline-block--s,
  .visible--l,
  .visible-inline--l,
  .visible-inline-block--l,
  .visible--xl,
  .visible-inline--xl,
  .visible-inline-block--xl {
    display: none !important;
  }
  .visible--m {
    display: block !important;
  }
  table.visible--m {
    display: table !important;
  }
  tr.visible--m {
    display: table-row !important;
  }
  th.visible--m,
  td.visible--m {
    display: table-cell !important;
  }
  .visible-inline--m {
    display: inline !important;
  }
  table.visible-inline--m {
    display: table !important;
  }
  tr.visible-inline--m {
    display: table-row !important;
  }
  th.visible-inline--m,
  td.visible-inline--m {
    display: table-cell !important;
  }
  .visible-inline-block--m {
    display: inline-block !important;
  }
  table.visible-inline-block--m {
    display: table !important;
  }
  tr.visible-inline-block--m {
    display: table-row !important;
  }
  th.visible-inline-block--m,
  td.visible-inline-block--m {
    display: table-cell !important;
  }
  .hidden--xs,
  .hidden--s,
  .hidden--l,
  .hidden--xl {
    display: inherit !important;
  }
  .hidden--m {
    display: none !important;
  }
}
@media screen and (min-width: 64em) {
  .visible--xs,
  .visible-inline--xs,
  .visible-inline-block--xs,
  .visible--s,
  .visible-inline--s,
  .visible-inline-block--s,
  .visible--m,
  .visible-inline--m,
  .visible-inline-block--m,
  .visible--xl,
  .visible-inline--xl,
  .visible-inline-block--xl {
    display: none !important;
  }
  .visible--l {
    display: block !important;
  }
  table.visible--l {
    display: table !important;
  }
  tr.visible--l {
    display: table-row !important;
  }
  th.visible--l,
  td.visible--l {
    display: table-cell !important;
  }
  .visible-inline--l {
    display: inline !important;
  }
  table.visible-inline--l {
    display: table !important;
  }
  tr.visible-inline--l {
    display: table-row !important;
  }
  th.visible-inline--l,
  td.visible-inline--l {
    display: table-cell !important;
  }
  .visible-inline-block--l {
    display: inline-block !important;
  }
  table.visible-inline-block--l {
    display: table !important;
  }
  tr.visible-inline-block--l {
    display: table-row !important;
  }
  th.visible-inline-block--l,
  td.visible-inline-block--l {
    display: table-cell !important;
  }
  .hidden--xs,
  .hidden--s,
  .hidden--m,
  .hidden--xl {
    display: inherit !important;
  }
  .hidden--l {
    display: none !important;
  }
}
@media screen and (min-width: 78.75em) {
  .visible--xs,
  .visible-inline--xs,
  .visible-inline-block--xs,
  .visible--s,
  .visible-inline--s,
  .visible-inline-block--s,
  .visible--m,
  .visible-inline--m,
  .visible-inline-block--m,
  .visible--l,
  .visible-inline--l,
  .visible-inline-block--l {
    display: none !important;
  }
  .visible--xl {
    display: block !important;
  }
  table.visible--xl {
    display: table !important;
  }
  tr.visible--xl {
    display: table-row !important;
  }
  th.visible--xl,
  td.visible--xl {
    display: table-cell !important;
  }
  .visible-inline--xl {
    display: inline !important;
  }
  table.visible-inline--xl {
    display: table !important;
  }
  tr.visible-inline--xl {
    display: table-row !important;
  }
  th.visible-inline--xl,
  td.visible-inline--xl {
    display: table-cell !important;
  }
  .visible-inline-block--xl {
    display: inline-block !important;
  }
  table.visible-inline-block--xl {
    display: table !important;
  }
  tr.visible-inline-block--xl {
    display: table-row !important;
  }
  th.visible-inline-block--xl,
  td.visible-inline-block--xl {
    display: table-cell !important;
  }
  .hidden--xs,
  .hidden--s,
  .hidden--m,
  .hidden--l {
    display: inherit !important;
  }
  .hidden--xl {
    display: none !important;
  }
}
