{% sw_extends "@Storefront/storefront/layout/header/search.html.twig" %}

{% block layout_header_search_input_group %}
    {{ parent() }}
    <hr>
    <h2 class="text-danger text-center">Inheritance Sample</h2>

    <p class="font-weight-bold">Custom file <i>(extends from base)</i>:</p>
    <ul>
        <li>custom/plugins/SwagB2bInheritanceSampleTheme/src/Resources/views/storefront/layout/header/search.html.twig</li>
    </ul>

    <hr>
{% endblock %}
