<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title is defined %}{{ page.title }}{% else %}{{ page.project.name }}{% endif %}</title>

    {% block head_meta %}
    <meta name="description"
          content="{% if page.title is defined %}{{ page.title }}{% else %}{{ page.project.name }}{% endif %}{% if page.description is defined %}: {{ page.description }}{% else %}{{ page.project.description }}{% endif %}"/>
    {% endblock %}

    {% if page.menu_chapter %}
    <meta name="robots" content="noindex" />
    {% elseif page.robots.hide == true %}
    <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#26556f">

    <link rel="stylesheet" href="{{ site.url }}/{{ versioned(theme_path('assets/css/open-sans-font.css')) }}" />
    <link rel="stylesheet" href="{{ site.url }}/{{ versioned(theme_path('assets/css/highlight-github-gist.min.css')) }}" />
    <link rel="stylesheet" href="{{ site.url }}/{{ versioned(theme_path('assets/css/docsearch.min.css')) }}" />
    <link rel="stylesheet" href="{{ site.url }}/{{ versioned(theme_path('assets/css/basic.css')) }}"  media="screen">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-57x57.png')) }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-60x60.png')) }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-72x72.png')) }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-76x76.png')) }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-114x114.png')) }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-120x120.png')) }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-144x144.png')) }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-152x152.png')) }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-180x180.png')) }}">
    <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/apple-icon-precomposed.png')) }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/android-icon-192x192.png')) }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/favicon-32x32.png')) }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/favicon-96x96.png')) }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/favicon-16x16.png')) }}">
    <link rel="shortcut icon" href="{{ site.url }}/{{ versioned(theme_path('assets/favicons/favicon.ico')) }}">

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/atom.xml"
          title="Shopware Developer blog feed"/>
</head>

<body>
<div class="wrapper">

    <header class="header--main">

        <a href="{{ site.url }}/" class="offcanvas--trigger" title="Navigation">
            <i class="icon-list"></i>
        </a>

        <a href="{{ site.url }}/" title="Shopware Developer Documentation" class="logo">
            <img src="{{ site.url }}/{{ versioned(theme_path('assets/img/shopware_developers_logo_white.svg')) }}" />
        </a>

    </header>

    <div id="searchBox">
        <form action="#" method="get" id="search-form">
            <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
            <button id="search-action"></button>
        </form>
    </div>

    <nav class="navi--main" data-offcanvas="true">
        <div class="navi--content">
            <ul class="navi--tree">
                {% for group in page.menu %}

                <li class="navi--chapter{% if (page.group == group.menu_title) or (page.menu_title == group.menu_title) %} is--active{% endif %}">
                    <a href="{{ group.url }}" class="navi--link{% if (page.group == group.menu_title) or (page.menu_title == group.menu_title) %} is--active{% endif %}{% if group.children %} has--children{% endif %}">
                       {{ group.menu_title }}
                    </a>

                    {% if group.children %}
                    <ul class="navi--sub-tree{% if group.menu_style == 'numeric' %} is--numbered{% endif %}{% if group.menu_style == 'bullet' %} is--bulleted{% endif %}">
                        {% for subgroup in group.children %}
                        <li class="navi--sub-chapter{% if ((page.subgroup == subgroup.menu_title) and (page.group == group.menu_title)) or (page.menu_title == subgroup.menu_title) %} is--active{% endif %}">

                            <a class="navi--link{% if page.subgroup == subgroup.menu_title or (page.menu_title == subgroup.menu_title) %} is--active{% endif %}{% if subgroup.children %} has--children{% endif %}" href="{{ subgroup.url }}">
                                {{ subgroup.menu_title }}
                            </a>

                            {% if subgroup.children %}
                                <ul class="navi--sub-tree{% if subgroup.menu_style == 'numeric' %} is--numbered{% endif %}{% if subgroup.menu_style == 'bullet' %} is--bulleted{% endif %}">

                                    {% for item in subgroup.children %}
                                        <li class="navi--sub-chapter">
                                            <a class="navi--link{% if page.menu_title == item.menu_title %} is--active{% endif %}" href="{{ item.url }}">
                                                {{ item.menu_title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>

                {% endfor %}
                <li class="navi--chapter navi--backlink-mobile">
                    <a href="https://en.shopware.com" class="navi--link"><i class="icon--arrow-left"></i> Back to shopware.com</a>
                </li>
                <li class="navi--backlink">
                    <a href="https://en.shopware.com"><i class="icon--arrow-left"></i>Back to shopware.com</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content_main %}
    <div class="devdocs content">

        <section id="search-results" style="display: none;">
            <h2 class="search-results--headline">Search results</h2>

            <div class="entries"></div>
        </section>

        <div class="inner-container">

            <div class="info">

                {% if page.shopware_version %}
                    <span class="version clearfix" data-shopware-version="{{ page.shopware_version }}">
                        <span class="versionDisc">as of version</span>
                        <span class="versionBadge">{{ page.shopware_version }}</span>
                    </span>
                {% endif %}

                {% if site.github_enabled and page.github_link %}
                <a class="edit-on-github" href="{{ site.githuburl }}{{ page.github_link }}" target="_blank"><i
                        class="icon-github"></i> Edit this page on GitHub</a>
                {% endif %}

            </div>

            {% if page.title is defined %}
            <h1>
                {{ page.title }}
            </h1>
            {% endif %}

            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

            {% if page.history is defined %}
            <h2>Version History</h2>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Changes</th>
                </tr>
                </thead>
                <tbody>
                {% for changeDate, changeText in page.history|reverse(true) %}
                <tr>
                    <td>{{ changeDate|date("Y-m-d") }}</td>
                    <td>{{ changeText }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

        <div class="clearfix"></div>
        <a href="#0" class="dev-top">Top</a>
    </div>
    {% endblock %}


    <!-- Footer -->
    {% block footer_main %}
        <footer class="main-footer">
            <div class="footer--container">
                <div class="copyright">{{ "now"|date("Y") }} © shopware AG - All rights reserved</div>
                <div class="footer--links">
                    <a href="https://en.shopware.com/legal-notice" target="_blank" title="Imprint">Imprint</a> |
                    <a href="https://en.shopware.com/gtc" target="_blank" title="Terms and Conditions">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    {% endblock %}
</div>

<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.min.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/highlight.min.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/highlight-lang-less.min.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/anchor.min.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.expandCode.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.toc.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.offcanvas.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/app.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.backtotop.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/docsearch.min.js')) }}"></script>

{% block scripts_after %}
{% endblock %}

{% if site.google_tag_manager_id %}
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id={{site.google_tag_manager_id}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', '{{site.google_tag_manager_id}}');</script>
<!-- End Google Tag Manager -->
{% endif %}

</body>
</html>
