<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title is defined %}{{ page.title }}{% else %}{{ page.project.name }}{% endif %}</title>

    {% block head_meta %}
    <meta name="description"
          content="{% if page.title is defined %}{{ page.title }}{% else %}{{ page.project.name }}{% endif %}: {% if page.description is defined %}{{ page.description }}{% else %}{{ page.project.description }}{% endif %}"/>
    {% endblock %}

    {% if page.menu_chapter %}
    <meta name="robots" content="noindex" />
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#26556f">

    <link href='//fonts.googleapis.com/css?family=Open+Sans:700,600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/github-gist.min.css">
    <link href="{{ site.url }}/{{ versioned(theme_path('assets/css/basic.css')) }}" rel="stylesheet" media="screen">

    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/atom.xml"
          title="Shopware Developer blog feed"/>
</head>

<body>
<div class="wrapper">

    <header class="header--main">

        <a href="{{ site.url }}/" title="Shopware Developer Documentation" class="logo">
            <img src="{{ site.url }}/{{ versioned(theme_path('assets/img/logo-devdocs.png')) }}"
                 data-small-src="{{ site.url }}/{{ versioned(theme_path('assets/img/logo-devdocs-symbol.png')) }}"/>
        </a>

    </header>

    <table class="content--table">
        <tr>
            <td class="navi--column">
                <nav class="navi--main">

                    <div class="clearfix">
                        <!-- LOGO -->
                        <div id="searchBox">
                            <form action="#" method="get">
                                <input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
                            </form>
                        </div>

                    </div>

                    <ul class="navi--tree">
                        {% for group in page.menu %}

                        <li class="navi--chapter {% if (page.menu_title == group.menu_title) or (page.group == group.menu_title) %}is--active{% endif %}">
                            <a class="{% if page.menu_title == group.menu_title %}active{% endif %}" href="{{ group.url }}">{{ group.menu_title }}</a>

                            {% if group.children %}
                            <ul class="{% if group.menu_style == 'numeric' %}is--numbered{% endif %}{% if group.menu_style == 'bullet' %}is--bulleted{% endif %}">
                                {% for subgroup in group.children %}
                                <li>
                                    {% if subgroup.menu_chapter %}
                                        <span class="{% if subgroup.children %}has--children{% endif %}">{{ subgroup.menu_title }}</span>
                                    {% else %}
                                        <a class="{% if page.menu_title == subgroup.menu_title %}active{% endif %} {% if subgroup.children %}has--children{% endif %}" href="{{ subgroup.url }}">{{ subgroup.menu_title }}</a>
                                    {% endif %}

                                    {% if subgroup.children %}
                                    <ul class="{% if subgroup.menu_style == 'numeric' %}is--numbered{% endif %}{% if subgroup.menu_style == 'bullet' %}is--bulleted{% endif %}">
                                        {% for item in subgroup.children %}
                                        <li><a class="{% if page.menu_title == item.menu_title %}active{% endif %}" href="{{ item.url }}">{{ item.menu_title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>

                        {% endfor %}
                    </ul>
                </nav>
            </td>

            <td>
                <div class="devdocs content">

                    <section id="search-results" style="display: none;">
                        <h1>Search results</h1>

                        <div class="entries">
                        </div>
                    </section>

                    <div class="inner-container">

                        <div class="info">

                            {% if page.shopware_version %}
                                <span class="version clearfix" data-shopware-version="{{ page.shopware_version }}">
                                    <span class="versionDisc">as of version</span>
                                    <span class="versionBadge">{{ page.shopware_version }}</span>
                                </span>
                            {% endif %}

                            {% if site.github_enabled and page.github_link %}
                            <a class="edit-on-github" href="{{ site.githuburl }}{{ page.github_link }}" target="_blank"><i
                                    class="icon-github"></i> Edit this page on GitHub</a>
                            {% endif %}

                        </div>

                        {% if page.title is defined %}
                        <h1>
                            {{ page.title }}
                        </h1>
                        {% endif %}

                        {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}

                        {% if page.history is defined %}
                        <h2>Version History</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Changes</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for changeDate, changeText in page.history|reverse(true) %}
                            <tr>
                                <td>{{ changeDate|date("Y-m-d") }}</td>
                                <td>{{ changeText }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>

                    <div class="clearfix"></div>
                </div>
            </td>
        </tr>
    </table>





    <!-- Footer -->
    <footer class="main-footer">
        <div class="container">
            <div class="main-footer-bottom-col1">
                <p class="small"> {{ "now"|date("Y") }} © shopware AG - All rights reserved</p>

                <p class="small">
                    <a href="https://en.shopware.com/legal-notice" target="_blank" title="Imprint">Imprint</a> |
                    <a href="https://en.shopware.com/gtc" target="_blank" title="Terms and Conditions">Terms and Conditions</a>
                </p>
                <span style="font-size: 30px" class="icon icon-shopware"></span>
            </div>
            <div class="clearfix"></div>
        </div>
    </footer>
</div>

<script src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/languages/less.min.js"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/anchor.min.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.expandCode.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.toc.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.algolia.search.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/jquery.expandSearch.js')) }}"></script>
<script src="{{ site.url }}/{{ versioned(theme_path('assets/js/app.js')) }}"></script>

<script>
    addAnchors('.content h2, .content h3, .content h4');
    hljs.initHighlightingOnLoad();

    $(document).ready(function() {
        $('#search-query').algoliaSearch({
            baseUrl: '{{ site.url }}',
            results: '#search-results',  // selector for containing search results element
            entries: '.entries'          // selector for search entries containing element (contained within results above)
        });
    });
</script>

{% block scripts_after %}
{% endblock %}

{% if site.google_tag_manager_id %}
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id={{site.google_tag_manager_id}}" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', '{{site.google_tag_manager_id}}');</script>
<!-- End Google Tag Manager -->
{% endif %}

</body>
</html>