{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation.html.twig' %}

{% block b2b_navigation_mainmenu %}
    {{ parent() }}
    <h2 class="text-danger text-center">B2B Inheritance Sample</h2>
{% endblock %}
