body.cheatsheet section h2,
body.cheatsheet section .h2,
body.cheatsheet section h3,
body.cheatsheet section .h3 {
  margin-bottom: 0;
}
body.cheatsheet section h6,
body.cheatsheet section .h6 {
  margin-bottom: 1em;
  letter-spacing: 0.02em;
}
body.cheatsheet section a[href] {
  cursor: pointer;
}
body.cheatsheet section a > h3,
body.cheatsheet section a .h3 {
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
body.cheatsheet section a > h3 [class*="icon--"],
body.cheatsheet section a .h3 [class*="icon--"] {
  font-size: 12px;
  position: relative;
  top: -2px;
  left: 10px;
  color: #eaeef1;
  transition: all 0.3s cubic-bezier(0.25, 0.2, 0.45, 1);
}
body.cheatsheet section a > h3:hover,
body.cheatsheet section a .h3:hover {
  color: #189eff;
}
body.cheatsheet section a > h3:hover [class*="icon--"],
body.cheatsheet section a .h3:hover [class*="icon--"] {
  left: 16px;
  color: #189eff;
}
body.cheatsheet section ul {
  margin: 15px 0 20px;
}
body.cheatsheet section ul li {
  line-height: 1.3;
  border-left: 2px solid #eaeef1;
  padding: 3px 2px 8px 20px;
}
body.cheatsheet section ul li a {
  color: inherit;
}
body.cheatsheet section ul li.main {
  font-weight: 600;
  color: #189eff;
  border-left-color: #189eff;
}
body.cheatsheet section ul.list--inline li {
  display: inline-block;
  margin: 5px;
  padding: 0;
  border: 0;
  line-height: 2;
}
body.cheatsheet section ul.list--inline li a {
  padding: 4px 10px;
  border: 1px solid #eaeef1;
  background-color: rgba(234, 238, 241, 0.4);
  font-size: 13px;
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
body.cheatsheet section ul.list--inline li a:hover {
  border-color: #189eff;
  background-color: #189eff;
  color: #fff;
}
body.cheatsheet section .searchable nav {
  margin: 10px -5px 0;
}
body.cheatsheet section#icons li i.icon--mail {
  font-size: 12px;
  position: relative;
  top: -1px;
}
body.cheatsheet section#icons li i.icon--arrow-up,
body.cheatsheet section#icons li i.icon--arrow-down {
  font-size: 10px;
  margin-left: -1px;
}
body.cheatsheet section#icons li i.icon--arrow-left,
body.cheatsheet section#icons li i.icon--arrow-right {
  margin: 0 3px;
}
body.cheatsheet section#icons li span {
  padding-left: 12px;
  position: relative;
  top: -2px;
}
