<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">SwagExtendArticleResource</label>
    <label lang="en">SwagExtendArticleResource</label>
    <version>1.0.0</version>
    <compatibility minVersion="5.2.17"/>
</plugin>
