.topic--overview {
    .clearfix();
    width: 100%;
    margin: 25px auto;

    &::after {
        clear: both;
    }

    .topic {
        display: block;
        max-width: 320px;
        min-height: 120px;
        margin: 0 20px 10px;
        background: @bg-color;
        border-bottom: 4px solid;
        text-align: center;
        padding: 30px 15px;
        color: @text-color;
        font-size: 18px;
        font-weight: bold;
        transition: all 0.2s ease-out;

        &:hover {
            color: #fff;

            .topic--icon svg {
                fill: #fff;
            }
        }
    }

    .topic--label {
        display: inline-block;
        vertical-align: middle;
    }

    .topic--icon {
        display: block;
        max-width: 64px;
        margin: 0 auto 15px;

        svg {
            fill: @text-color;
        }
    }

    .topic--3d-product-viewer {
        border-color: @highlight-color-light-blue;

        &:hover {
            background: @highlight-color-light-blue;
        }
    }

    .topic--shopping-cart {
        border-color: @highlight-color-green;

        &:hover {
            background: @highlight-color-green;
        }
    }

    .topic--backend {
        border-color: @highlight-color-turquoise;

        &:hover {
            background: @highlight-color-turquoise;
        }
    }

    .topic--internationalization {
        border-color: @highlight-color-yellow;

        &:hover {
            background: @highlight-color-yellow;
        }
    }

    .topic--api {
        border-color: @highlight-color-blue;

        &:hover {
            background: @highlight-color-blue;
        }
    }

    .topic--housekeeping {
        border-color: @highlight-color-red;

        &:hover {
            background: @highlight-color-red;
        }
    }
}

@media screen and (min-width: @viewport-s) {
    .topic--overview .topic {
        float: left;
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        max-width: none;
        min-height: 200px;
    }
}

@media screen and (min-width: @viewport-m) {
    .landingpage .hero--text {
        margin: 0 auto;
    }

    .topic--overview .topic {
        width: 31.1%;
    }
}

@media screen and (min-width: @viewport-l) {
    .landingpage--headline {
        font-size: 58px;
        line-height: 61px;
    }
}

@media screen and (min-width: @viewport-xl) {
    .topic--overview {
        max-width: (@viewport-xl - 20);
    }
}

@media screen and (min-width: @viewport-xxl) {
    .topic--overview .topic {
        width: 14.6%;
        min-height: 220px;
    }
}