<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Swag Hersteller API</label>
    <label lang="en">Swag Producer API</label>
    <version>1.0.0</version>
    <compatibility minVersion="5.2.0"/>
</plugin>
