<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware5/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Swag Plugin System</label>
    <label lang="en">Swag plugin system</label>

    <version>1.0.0</version>
    <copyright>(c) by shopware AG</copyright>
    <license>MIT</license>
    <link>http://store.shopware.com</link>
    <author>shopware AG</author>
    <compatibility minVersion="5.3.0"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
</plugin>
