---
layout: guides
title: Developer Guides
github_link: developers-guide/index.html
menu_title: Developer Guides
menu_order: 20
menu_style: bullet
---

<div class="start-guide">

    <div class="dev-guide"><img src="header.svg"/></div>

        {% if page.title is defined %}
    <h1 class="is-center">
        {{ page.title }}
    </h1>
    {% endif %}

    <div class="info guide is-center">

        {% if page.shopware_version %}
        <span class="version clearfix" data-shopware-version="{{ page.shopware_version }}">
                            <span class="versionDisc">as of version</span>
                            <span class="versionBadge">{{ page.shopware_version }}</span>
                        </span>
        {% endif %}

    </div>

    {# START AND UDEMY #}
    <div class="dev-guide--container">
        <div class="row">
            <div class="col medium">
                <div class="developer-img"></div>
                <span class="say">„Hey, developing a Shopware plugin is quite easy. At first use the start guide.“<br><small>mitelg, web developer @shopware</small></span>
                <div class="button"><a href="/developers-guide/plugin-quick-start/">View start guide</a></div>
            </div>

            <div class="col small">
                <div class="udemy-teaser">
                    <a href="https://www.udemy.com/developer-training-basic-english/" target="_blank" ><div class="udemy-teaser--screenshot"></div></a>
                    <h2>Video Developer Training</h2>
                    <div class="button"><a href="https://www.udemy.com/developer-training-basic-english/" target="_blank" >Enrol now for free</a></div>
                </div>
            </div>

        </div>
    </div>

    {# DEVELOPER MENUE #}
    <div class="dev-guide--menu">
        <div class="row">
            <a class="col" href="/plugin-guide/"><h2>Developing Plugins</h2>Plugin guide overview</a>
            <a class="col" href="/developers-guide/general-resources/"><h2>General resources</h2>For developing plugins</a>
            <a class="col" href="/developers-guide/tutorials/"><h2>Tutorials</h2>Learning by doing</a>
            <a class="col" href="/developers-guide/backend-and-extjs/"><h2>Backend and ExtJS</h2>Interface and Modules</a>
            <a class="col" href="/developers-guide/rest/"><h2>Rest API</h2>Introduction and Resources</a>
            <a class="col" href="https://www.udemy.com/developer-training-basic-english/" target="_blank" ><h2>Video Trainings</h2>Basic and Expert</a>
        </div>
    </div>

    {# GITTER CHAT #}
    <div class="dev-guide--container">

        <div class="gitter-headline center">
            <h3>Shopware developer chat</h3>
            <p>Gitter is a free, open source chat where you login with your github or twitter account and are able to chat immediatly - <a href="{{ site.url }}/blog/2017/09/29/shopware-goes-gitter/#search-results" target="_blank">read more.</a></p>
        </div>

        <div class="row">

            <div class="col small">
                <a href="https://gitter.im/shopware/shopware" target="_blank"><div class="gitter--screenshot"></div></a>
            </div>

            <div class="col medium">
                <div class="gitter--dialog">
                    <a href="https://gitter.im/shopware/shopware" target="_blank"><div class="avatar-one"></div></a>
                    <div class="chat"><small>Michael Telgmann @mitelg</small><br>Gitter chatrooms are public and save history indefinitely. Right?</div>
                </div>
                <div class="gitter--dialog">
                    <a href="https://gitter.im/shopware/shopware" target="_blank"><div class="avatar-two"></div></a>
                    <div class="chat"><small>dnoegel @dnoegel</small><br>Be careful. There be dragons. On the other hand, you don't need that icky bouncer anymore. ;)</div>
                </div>
            </div>

            <div class="button"><a href="https://gitter.im/shopware/shopware" target="_blank">Join us on gitter</a></div>

        </div>

    </div>


</div>{# END START GUIDE #}
