---
layout: start
title: Shopware Developer Documentation
generator: pagination
pagination:
    max_per_page: 3
use:
- posts
---

<h2><a href="{{ site.url }}/blog/">Recent blog posts</a></h2>

<div class="blog--teaser">
    {% for post in page.pagination.items %}
    <article class="blog-post">
        <header class="post-header">
             <span class="post-date">
                <span class="icon icon-clock"></span> {{ post.date | date(site.default_date_format) }}
            </span>
            <h3 class="header-title">
                <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h3>
        </header>

        <div class="post-desc">
            {% if post.meta.excerpt %}
                {{ post.meta.excerpt }}
            {% else %}
                {% set summary_array = post.blocks.content|raw|striptags|split(' ')%}
                {{ summary_array|slice(0,40)|join(' ') }}...
            {% endif %}
        </div>
    </article>
    {% endfor %}
</div>
