---
layout: default
title: Shopware Developers
generator: pagination
pagination:
    max_per_page: 3
use:
- posts
---

<h2>Community</h2>
<p>
	Shopware is open source and wants to involve you as a developer.
</p>

<p>
	For that reason there are several ways to get in touch with us:
</p>

<ul>
    <li><a href="http://forum.shopware.com">Shopware forums</a></li>
    <li><a href="https://twitter.com/shopware">@shopware</a> on Twitter</li>
    <li><a href="http://jira.shopware.de">Bug tracker</a></li>
    <li><a href="https://github.com/shopware/shopware">Shopware Sourcecode on Github</a></li>
    <li><a href="https://github.com/shopwareLabs">Shopware Labs on Github</a></li>
    <li>
		IRC channel <a href="irc://irc.freenode.net/shopware">#shopware</a> on Freenode <a href="http://webchat.freenode.net/?channels=shopware&prompt=1">(webchat)</a>
	</li>
</ul>

<h2>Sections</h2>
<ul>

    <li><a href="{{ site.url }}/sysadmins-guide/">Sysadmin's Guide</a></li>
    <li><a href="{{ site.url }}/developers-guide/">Developer's Guide</a></li>
    <li><a href="{{ site.url }}/designers-guide/">Designer's Guide</a></li>
    <li><a href="{{ site.url }}/blog/">Developer Blog</a></li>
</ul>


<h2><a href="{{ site.url }}/blog/">Recently in the developer blog</a></h2>

{% for post in page.pagination.items %}
<article class="blog-post">
    <header class="post-header">
        <h3 class="header-title">
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                <span class="small">
                    <span class="icon icon-clock"></span> {{ post.date | date(site.default_date_format) }}
                </span>
        </h3>
    </header>

    <div class="post-desc">
        {% if post.meta.excerpt %}
        {{ post.meta.excerpt }}
        {% else %}
        {% set summary_array = post.blocks.content|raw|striptags|split(' ')%}
        {{ summary_array|slice(0,70)|join(' ') }}...
        {% endif %}
    </div>
</article>
{% endfor %}
