---
layout: default
title: Search
---

{% block content %}
	<div id="search">
		<form action="#" method="get">
			<input type="text" id="search-query" name="q" placeholder="Search" autocomplete="off">
		</form>
	</div>

	<section id="search-results" style="display: none;">
		<div class="entries">
		</div>
	</section>

	{% verbatim %}
	<script id="search-results-template" type="text/mustache">
		{{#entries}}
		<article>
			<h2>
				<a href="{{url}}">{{title}}</a>
			</h2>
		</article>
		{{/entries}}
	</script>
	{% endverbatim %}
{% endblock %}

{% block scripts_after %}
<script src="{{ site.url }}/{{ theme_path('assets/js/URI.min.js') }}"></script>
<script src="{{ site.url }}/{{ theme_path('assets/js/lunr.min.js') }}"></script>
<script src="{{ site.url }}/{{ theme_path('assets/js/mustache.min.js') }}"></script>
<script src="{{ site.url }}/{{ theme_path('assets/js/jquery.lunr.search.js') }}"></script>
<script type="text/javascript">
$(function() {
	$('#search-query').lunrSearch({
		baseUrl: '{{ site.url }}',
		indexUrl: '{{ site.url }}/index.json',   // Url for the .json file containing search index data
		results : '#search-results',  // selector for containing search results element
		entries : '.entries',         // selector for search entries containing element (contained within results above)
		template: '#search-results-template'  // selector for Mustache.js template
	});
});
</script>
{% endblock %}

