<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/menu.xsd">

    <entries>
        <entry>
            <name>SwagProductListingExtension</name>
            <label lang="en">Swag product listing extension</label>
            <label lang="de">Swag Produkt Listing Erweiterung</label>
            <controller>SwagProductListingExtension</controller>
            <action>index</action>
            <class>sprite-application-block</class>
            <parent identifiedBy="controller">Article</parent>
        </entry>
    </entries>
</menu>
